// News detail
.news-detail
	.news__item
		.row
			.col-md-2
				.news__item-date
					span 9
					span октября
					span 2015 года
			.col-md-9
				.news__item-desc
					p Анализ рыночных цен неверно оправдывает потребительский медийный канал. Направленный маркетинг однообразно концентрирует маркетинг, учитывая современные тенденции. Целевая аудитория, вопреки мнению П.Друкера, вырождена.
					p Практика однозначно показывает, что медиавес индуцирует традиционный канал, оптимизируя бюджеты. Общество потребления консолидирует конвергентный направленный маркетинг.
					img(src="images/news-detail-blank.jpg", alt="")
					p Партисипативное планирование спорадически определяет социометрический медиабизнес, учитывая современные тенденции. По мнению ведущих маркетологов, воздействие на потребителя развивает обществвенный PR, учитывая результат предыдущих медиа-кампаний. Продуктовый ассортимент, на первый взгляд, специфицирует охват аудитории.