.calculator
	&__section
		margin-bottom 50px
		input[type="range"]
			position absolute
			top -15px
	&__title
		margin-bottom 15px
		font-weight bold
		font-size $font-size-h3
	&__range
		background-color input-bg
		//display table
		position relative
		width 100%
		height 50px
		padding-right 160px
		box-shadow inset 0 2px 4px input-shadow
		border 1px solid input-br
		border-radius 4px
		/.calculator__section-term &
			padding-right 140px
		&-col
			//display table-cell
			//width 85%
			padding-left 5px
			vertical-align middle
			&:last-child
				position absolute
				top 50%
				right 0
				width 160px
				padding-left 15px
				padding-right 20px
				text-align center
				white-space nowrap
				transform translateY(-50%)
				/.calculator__section-term &
					width 140px
			&:not(:last-child)
				@extend .justify
				border-right 1px solid input-br
				line-height 50px
				height 100%
			> *
				display inline-block
				line-height normal
				vertical-align middle
			&-change
				position relative
				z-index 1
				&:before
					content ''
					position absolute
					top 50%
					left 20px
					right 25px
					margin-top -1px
					border-bottom 2px dotted input-br
					z-index -1
		&-val
			background-color input-bg
			padding-left 10px
			padding-right 15px
		&-selected
			font-weight bold
			font-size $font-size-h3
		&-switch
			position absolute
			background-image linear-gradient(to bottom, rgba(#aeaeae, 0.25), rgba(#fff ,0.25) 50%, rgba(#aeaeae, 0.25))
			top -4px
			bottom -4px
			width 40px
			box-shadow inset 0 0 15px rgba(235, 233, 189, 0.65)
			border 2px solid $link-hover-color
			border-radius 4px
			cursor grab
			cursor -webkit-grab
			&:before
			&:after
				content ''
				position absolute
				left 50%
				margin-left -5px
				@extend .glyphicon
				font-size 10px
				color $link-hover-color
			&:before
				content '\e259'
				top 0
			&:after
				content '\e260'
				top auto
				bottom 0
			&-block
				position absolute
				top 0
				bottom 0
				left 0
				right 40px
	&__result
		margin-bottom 60px
		&-val
			display inline-block
			vertical-align middle
			font-weight bold
			font-size $font-size-h2
			&-sub
				font-weight 300
				font-size $font-size-base
			&_green
				padding 0 9px
				border 5px solid calc-result-green
				color calc-result-green
		&_long
			position relative
			padding-right 165px
			.calculator__result
				&-val
				&-sep
					display table-cell
					width 1%
				&-val
					padding 0 8px
					&_green
						white-space nowrap
				&-col
					position relative
					&:last-child
						position absolute
						top 0
						right 0
						width 145px
						height 100%
					.calculator__result
						&-val
							padding 7px 9px
		&-sep
			display inline-block
			vertical-align middle
			margin-left 30px
			margin-right 30px
			&:before
				content '/'
				font-size 63px
				color calc-sep-c
			
				
		& + .calculator__result-detail
			margin-top -20px
		
		&-detail
			position relative
			padding-top 25px
			margin-right -40px
			margin-bottom 50px
			&:before
				content ''
				background-color $text-color
				position absolute
				top 0
				left 0
				width 285px
				height 5px
		&-line
			margin-bottom 15px
			&_green
				font-weight bold
				color calc-result-green
			&_icon
				position relative
				padding-left 30px
				&:before
					content ''
					position absolute
					left 0
					top 0
				&.icon
					&-profit:before
						sprite(ico-profit)
					&-percent:before
						sprite(ico-percentage)
					&-hold:before
						sprite(ico-hold)
			&-col
				display table-cell
				width 50%
				&:last-child
					width 1%
					white-space nowrap
					min-width 195px