block calcVars
	-var calcType = 'form'
		-calcClass
		-calcButton = true
		-calcRate = 180
		-calcFactor = 12
		-calcTarget
		-calcNotPercent
		-calcRefRate

		-calcAmountTitle = 'Сумма займа, '
		-calcAmountMin = 1000
		-calcAmountMax = 15000
		-calcAmountStep = 1000
		-calcAmountValue = 15000

		-calcTermTitle = 'Срок займа, '
		-calcTerm = 'month'
		-calcTermMin = 1
		-calcTermMax = 12
		-calcTermStep = 1
		-calcTermValue = 4
		
		-calcTotalTitle = 'Сумма к возврату'
		
// data-rate -> percentage || default -> 10%
// data-factor -> amount month factor || default -> 12 month factor
#{calcType}.calculator.fade(class="#{calcClass || ''}" data-rate="#{calcRate}" data-factor="#{calcFactor}" data-term="#{calcTerm}" data-type="#{calcTarget || ''}" data-start-rate="#{calcNotPercent || ''}" data-ref-rate="#{calcRefRate || ''}" data-range="min")
	.container-inner
		.calculator__section.calculator__section-amount(data-min="#{calcAmountMin}" data-max="#{calcAmountMax}" data-step="#{calcAmountStep}" data-value="#{calcAmountValue}")
			.calculator__title= calcAmountTitle
				span.calculator__range-selected
			.calculator__range
				input(type="hidden")
				.calculator__range-col.calculator__range-col-change
					.calculator__range-switch-block
						.calculator__range-switch.ui-slider-handle


		.calculator__section.calculator__section-term(data-min="#{calcTermMin}" data-max="#{calcTermMax}" data-step="#{calcTermStep}" data-value="#{calcTermValue}")
			.calculator__title= calcTermTitle
				span.calculator__range-selected
			.calculator__range
				input(type="hidden")
				.calculator__range-col.calculator__range-col-change
					.calculator__range-switch-block
						.calculator__range-switch.ui-slider-handle
	block calcResult
		.calculator__result
			.container-inner.text-center
				.calculator__result-val
					.calculator__result-get
					.calculator__result-val-sub Вы получите
				.calculator__result-sep
				.calculator__result-val
					.calculator__result-total
					.calculator__result-val-sub= calcTotalTitle
				

				if(calcButton)
					button.btn(type="button") Оставить заявку