hide-smooth(class)
	className = '&.' + class
	visibility hidden
	opacity 0
	transition opacity durGlob, visibility 0s durGlob
	{className}
		visibility visible
		opacity 1
		transition opacity durGlob

placeholders()
	listPlaceholders = ':-webkit-input', ':-moz', '-moz', '-ms'
	for listPlaceholder in listPlaceholders
		{'&:' +  listPlaceholder + '-placeholder'}
			text-transform uppercase
			color input-c
			opacity 1
			transition opacity durGlob
		&:focus
			{'&:' +  listPlaceholder + '-placeholder'}
				opacity 0
		&:required
			{'&:' +  listPlaceholder + '-placeholder'}
				&:after
					content '*'
					padding-left 3px
				
				

mq(res, max = false)
	if !max
		@media (min-width: res)
			{block}
	else
		@media (min-width: res) and (max-width: max - 1)
			{block}
			
			

spriteWidth($sprite)
	width $sprite[4]

spriteHeight($sprite)
	height $sprite[5]

spritePosition($sprite)
	background-position $sprite[2] $sprite[3]

spriteImage($sprite)
	background-image url(../images/$sprite[8])

sprite($sprite)
	if !match('hover', selector()) && !match('active', selector())
		spriteImage($sprite)
	spritePosition($sprite)
	spriteWidth($sprite)
	spriteHeight($sprite)