primary-color1 = #089b4c

//secondary-color1 = #962d32


label-color1 = #7d8594
label-color2 = #636d80
label-color3 = lighten(label-color2, 15.5%) //#788397
label-color4 = #717a8a

text-light = #fff

gray-light = #d0d0d0

bg-back = #dbdee3
bg-aside = #eef0f4
bg-fieldset = #f1f3f6
bg-light = #fff

angle-block-bg = #f4f4f4
angle-block-second-bg = #ffec94
angle-block-third-bg = #e66424

input-bg = #f9f9f9
input-br = #dfdfdf
input-shadow = rgba(#020405, 0.15)

btn-bg1 = #0cc662
btn-bg2 = primary-color1
btn-overlay = #64fdab
btn-text-shadow = #07793b
btn-shadow = #014521
btn-active-overlay = #caffe3
btn-active-inset-shadow = #035328

help-block-c = #9d9d9d

calc-sep-c = #f2f2f2
calc-result-green = #00cc33

right-col-c = #fffefe


disabled-c = #9daec2

$border-color = #c9c9c9


label-fz = 12px

$loan-payment-bg ?= #1cc76b
$loan-payment-type-title-c ?= #009846
$loan-payment-dev-c ?= #cb0000

$nav-active-bg1 ?= #0a954a
$nav-active-bg2 ?= #1cc76b
$nav-active-bg3 ?= #13bb61
$nav-active-bg4 ?= primary-color1


durGlob = 0.3s
durFixHeader = 0.25s

//mq
mob = 320px
tablet = 768px
desktop = 992px


container-m = 540px

m-main-content-bg = #e9ecf2

m-calculator-range-bg = #c5ccd8
m-calculator-range-active-bg = primary-color1
m-calculator-range-switch = #04bb58
m-services-info-bottom-bg = #dbdfe6
