include ../helpers/variables
include ../helpers/mixins

+script([], [
	'libs/jquery/jquery-2.1.4.min.js',
	'libs/jquery-ui-1.11.4.custom/jquery-ui.min.js',
	'libs/jquery-ui-1.11.4.custom/jquery.ui.touch-punch.min.js',
	'libs/jquery-validation-1.14.0/jquery.validate.js',
	'libs/jquery-validation-1.14.0/localization/messages_ru.min.js',
	'libs/jquery-validation-1.14.0/additional-methods.min.js',
	'libs/jquery.maskedinput/jquery.maskedinput.js',
	'libs/jquery.steps-1.1.0/jquery.steps.js',
	'libs/bootstrap/bootstrap.min.js',
	'libs/bootstrap-select/js/bootstrap-select.min.js',
	'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js',
	'libs/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js',
	'calculator.js',
])

block changeVar
	-var classPageAdd

doctype html
html(lang='ru')
	include ../blocks/head/head

block viewport
	meta(name='viewport' content='width=device-width, initial-scale=0.59259259, maximum-scale=0.59259259, minimal-ui')

	body(class="mobile-body")
		.main-container(class="#{classPageAdd || ''}")
			.main-container-wrap
				//Header
				block header
					include ../blocks/header/header-m
				//END-Header

				//Content
				.main-content
					block content
				//END-Content

				//Footer
				block footer
					include ../blocks/footer/footer-m
				//END-Footer

			block addition-content

		block scripts
			include ../blocks/scripts/scripts
