include ../helpers/variables
include ../helpers/mixins

+script([], [
	'libs/jquery/jquery-2.1.4.min.js',
	'libs/jquery-ui-1.11.4.custom/jquery-ui.min.js',
	'libs/jquery-validation-1.14.0/jquery.validate.js',
	'libs/jquery-validation-1.14.0/localization/messages_ru.min.js',
	'libs/jquery-validation-1.14.0/additional-methods.min.js',
	'libs/jquery.inputmask/min/jquery.inputmask.bundle.min.js',
	'libs/jquery.steps-1.1.0/jquery.steps.js',
	'libs/bootstrap/bootstrap.min.js',
	'libs/bootstrap-select/js/bootstrap-select.min.js',
	'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js',
	'libs/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js',
	'libs/photo-swipe/photoswipe.min.js',
	'libs/photo-swipe/photoswipe-ui-default.min.js',
	'libs/swiper/js/swiper.jquery.min.js',
	'main.js',
	'calculator.js',
	'online-steps.js',
])

block changeVar
	-var rightNews = true

doctype html
html(lang='ru')
	include ../blocks/head/head

	body
		.body-wrap
			.container
				.main-container(class="#{classPageAdd || ''}")
					.main-container-wrap
						.main-container__col-left
							//Header
							block header
								include ../blocks/header/header
							//END-Header

							//Content
							.main-content
								block content
							//END-Content

						.main-container__col-right
							.main-container__col-right-wrap
								block right-col
									.right-fix
										.main-container__col-right-section
											a.btn.btn-sm(href="#{appPage}") Оставить заявку
											a.change-service(href="#{indexPage}")
												|Я хочу получить
												span деньги
											a.change-service(href="#{depositPage}")
												|Я хочу сделать
												span вклад
										if(rightNews)
											.main-container__col-right-section
												.news-min
													a.news-min__title(href="#{newsPage}") Новости
													a.news-bottom__item(href="#{newsDetailPage}")
														span.news-bottom__date 9 октября
														span.news-bottom__name Открытие нового офиса в городе Дивногорск
													a.news-bottom__item(href="#{newsDetailPage}")
														span.news-bottom__date 21 августа
														span.news-bottom__name Займы до 1 000 000 рублей под залог автомобиля

					//Footer
					block footer
						include ../blocks/footer/footer
					//END-Footer

			block addition-content

		block scripts
			include ../blocks/scripts/scripts
