block modal-variables
	-var idModal, classModal, titleModal, modalFooter = false, containerOff = false

.modal.fade(tabindex="-1" role="dialog" id="#{idModal || ''}" class="#{classModal || ''}")
	block modal-content
		if !containerOff
			.container
				.modal-dialog
					.modal-content
						.modal-content-inner
							.modal-header
								block modal-header
									button.close(type="button" data-dismiss="modal")
									h4.modal-title= titleModal || ''
							.modal-body
								block modal-body
									form
										.form-group
											label(for="") Представьтесь
											input.form-control(type="text")
										.form-group
											label(for="")= modalTextarea
											textarea.form-control(name="")
										.form-group
											.media-full.vab
												//add class valid or not-valid
												.capcha.valid
													.capcha__item
														label Введите код с картинки
														img(src="images/capcha-blank.png", alt="")
													.capcha__item
														label: a.link-dotted(href="") обновить картинку
														.input-group
															input.form-control.input-sm(type="text")
											.media-full.vab.text-right
												button.btn.btn-primary.btn-sm(type="submit") Отправить
							if modalFooter
								.modal-footer
									block modal-footer
										button.btn(type="button" data-dismiss="modal") Close
		else
			.modal-dialog
				.modal-content
					.modal-content-inner
						.modal-header
							block modal-header
								button.close(type="button" data-dismiss="modal")
								h4.modal-title= titleModal || ''
						.modal-body
							block modal-body
								form
									.form-group
										label(for="") Представьтесь
										input.form-control(type="text")
									.form-group
										label(for="")= modalTextarea || ''
										textarea.form-control(name="")
									.form-group
										.media-full.vab
											//add class valid or not-valid
											.capcha.valid
												.capcha__item
													label Введите код с картинки
													img(src="images/capcha-blank.png", alt="")
												.capcha__item
													label: a.link-dotted(href="") обновить картинку
													.input-group
														input.form-control.input-sm(type="text")
										.media-full.vab.text-right
											button.btn.btn-primary.btn-sm(type="submit") Отправить
						if modalFooter
							.modal-footer
								block modal-footer
									button.btn(type="button" data-dismiss="modal") Close