.program
	&-unit
		&-infoblock
			margin-bottom 30px
			&__item
				background-color angle-block-bg
				background-repeat no-repeat
				background-position right bottom
				padding 10px 15px
				min-height 130px
				&_sum
					background-image url(../images/infoblock-sum.png)
				&_term
					background-image url(../images/infoblock-term.png)
				&_rate
					background-image url(../images/infoblock-rate.png)
			&__title
				margin-bottom 0.3em
				font-size $font-size-large
			&__desc
				line-height 1.25
				font-weight bold
				font-size $font-size-h2
				sup
					top -1.5em
					font-size $font-size-small - 2

		.main-content__title
			margin-top 1.5em
		.services-desc
			margin-bottom 40px
			font-size 0
			[class^="col-"]
			[class*="col-"]
				display inline-block
				float none
				vertical-align top
				font-size $font-size-base
			&__item
				max-width 215px
				margin-bottom 35px
			&__title
				margin-bottom 1em
				font-weight bold
				font-size $font-size-h2
		.angle-block
			margin-bottom 55px
		.program-more
			position relative
			margin-bottom 25px
			transition background-size durGlob*2.5, box-shadow durGlob
			&:before
				content ''
				background-image linear-gradient(to bottom, transparent, rgba($gray-base, 0.6))
				position absolute
				left 0
				right 0
				top 50%
				bottom 0
				border-radius 0px 0px 10px 10px
			a
				display inline-block
				bottom 20px
				line-height 1.1
				border-bottom 1px solid
				text-decoration none
				//text-shadow 1px 1px 5px rgba($text-color, 0.7)
				font-weight bold
				font-size $font-size-h2
				color text-light
				&:hover
					border-bottom-color transparent
				
			&:hover
				box-shadow 0 40px 40px -20px rgba(#20396b, 0.7)
			