// Program Unit Block
.program-unit

	
		p Согласно последним исследованиям, формат события подсознательно допускает из ряда вон выходящий продуктовый ассортимент. Такое понимание ситуации восходит к Эл Райс, при этом торговая марка искажает связанный мониторинг активности, осознав маркетинг как часть производства. Поэтому воздействие на потребителя методически отражает типичный ребрендинг, используя опыт предыдущих кампаний.


	
		.main-content__title Преимущества
		ul.list-check
			li Интересно отметить, что стимулирование коммьюнити конструктивно.
			li Социальный статус продуцирует ролевой медиамикс.<sup>1</sup>
			li Экспансия слабо транслирует стратегический рыночный план.
			li Ценовая стратегия сознательно ускоряет конвергентный диктат потребителя, осознавая социальную ответственность бизнеса.
		.program-unit-infoblock
			.row
				.col-md-4
					.program-unit-infoblock__item.program-unit-infoblock__item_sum
						.program-unit-infoblock__title Сумма
						.program-unit-infoblock__desc от 1000 до<sup>2</sup> 15&nbsp;000 рублей
				.col-md-4
					.program-unit-infoblock__item.program-unit-infoblock__item_term
						.program-unit-infoblock__title Срок
						.program-unit-infoblock__desc до 30 дней
				.col-md-4
					.program-unit-infoblock__item.program-unit-infoblock__item_rate
						.program-unit-infoblock__title Процентная ставка
						.program-unit-infoblock__desc от 1 %
		ol.list-legend
			li Фокус-группа, следовательно, поддерживает жизненный цикл продукции, осознавая социальную ответственность бизнеса.
			li В рамках концепции Акоффа и Стэка, план размещения стремительно трансформирует социометрический рейтинг.
	
		.services-info
			.services-desc
				.main-content__title.services-desc__title От вас потребуется
				.row
					.col-md-4
						.services-desc__item
							img(src="images/passport.png", alt="")
							.services-desc__item-name Паспорт гражданина РФ
					.col-md-4
						.services-desc__item
							img(src="images/pts.png", alt="")
							.services-desc__item-name Паспорт транспортного средства
					.col-md-4
						.services-desc__item
							img(src="images/avto.png", alt="")
							.services-desc__item-name И наличие автомобиля в офисе оформления займа
					.col-md-4
						.services-desc__item
							img(src="images/age.png", alt="")
							.services-desc__item-name Ваш возраст должен быть от 18 до 65 лет
					.col-md-4
						.services-desc__item
							img(src="images/calendar2.png", alt="")
							.services-desc__item-name Стаж работы на последнем месте от 3 месяцев
			.services-desc
				.main-content__title.services-desc__title Условия
				.row
					.col-md-4
						.services-desc__item
							img(src="images/passport.png", alt="")
							.services-desc__item-name Максимальная сумма займа до 1&nbsp;000&nbsp;000&nbsp;&#8381;
					.col-md-4
						.services-desc__item
							img(src="images/calendar3.png", alt="")
							.services-desc__item-name Вы сами выбираете срок займа


	
		.angle-block.angle-block_left-wrapping.angle-block_yellow
			.angle-block-wrap
				.angle-block-content.clearfix
					ul
						li Автомобиль остается у вас, а документ ПТС вы передаете в компанию до возврата займа, который вы получаете под залог авто;
						li Процентная ставка от 8% в месяц;
						li Размер займа составит до 50% от стоимости автомобиля;
						li Досрочное погашение займа, в любое время с перерасчетом процентов на день погашения;
						li Срок получения займа наличными в течении 30 минут.


	
		p Согласно последним исследованиям, формат события подсознательно допускает из ряда вон выходящий продуктовый ассортимент. Такое понимание ситуации восходит к Эл Райс<sup>3</sup>, при этом торговая марка искажает связанный мониторинг активности, осознав маркетинг как часть производства. Поэтому воздействие<sup>4</sup> на потребителя методически отражает типичный ребрендинг, используя опыт предыдущих кампаний.
		ol.list-legend
			li Фокус-группа, следовательно, поддерживает жизненный цикл продукции, осознавая социальную ответственность бизнеса.
			li В рамках концепции Акоффа и Стэка, план размещения стремительно трансформирует социометрический рейтинг.


	
		a.btn(href="") Рассчитать займ
		.main-content__title Ознакомьтесь с другими нашими займами
		.program-more(style="background-image: url(images/program-more3.jpg)")
			a(href="#{prorgramPage}") Под залог автомобиля
		.program-more(style="background-image: url(images/program-more1.jpg)")
			a(href="#{prorgramPage}") До 30 дней
		.program-more(style="background-image: url(images/program-more2.jpg)")
			a(href="#{prorgramPage}") До 12 месяцев
					
// END-Program Unit Block