extends ../template-m

append calcVars
	-calcAmountTitle = 'Сумма вклада, '
	-calcAmountMin = 10000
	-calcAmountMax = 500000
	-calcAmountStep = 10000
	-calcAmountValue = 440000


	-calcTermTitle = 'Срок вклада, '
	-calcTerm = 'month'
	-calcTermMin = 1
	-calcTermMax = 12
	-calcTermStep = 1
	-calcTermValue = 7
	-calcRate = '[[10000, 16.1], [50000, [[3, 16.10], [6, 17.60]]], [250000, [[3, 16.10], [6, 19.10]]]]'
	-calcRefRate = 16
	-calcTarget = 'deposit'

//- Calc Result
block calcResult
	.calculator__result.calculator__result_long
		.container-inner.text-center
			.calculator__result-col
				.calculator__result-val
					.calculator__result-get
					.calculator__result-val-sub Вы вложили
				.calculator__result-sep
				.calculator__result-val
					.calculator__result-total
					.calculator__result-val-sub Вы получите
			.calculator__result-col
				.calculator__result-val.calculator__result-val_green
					.calculator__result-val-sub Годовая ставка
					.calculator__result-rate 19.1%
		.container-inner
			.calculator__result-detail
				.calculator__result-line.calculator__result-line_icon.icon-percent 
					.calculator__result-line-col
							.calculator__result-info Всего начислено процентов: 
								span.calculator__result-percent
								|&nbsp;руб.
					.calculator__result-line-col
							.calculator__result-info
								div &#8212;  за месяц 
								span.calculator__result-percent-month
								|&nbsp;руб.
				.calculator__result-line.calculator__result-line_icon.icon-hold
					.calculator__result-line-col
							.calculator__result-info Удержано НДФЛ: 
								span.calculator__result-hold
								|&nbsp;руб.
					.calculator__result-line-col
							.calculator__result-info
								div &#8212;  за месяц 
								span.calculator__result-hold-month
								|&nbsp;руб.
				.calculator__result-line.calculator__result-line_green.calculator__result-line_icon.icon-profit
					.calculator__result-line-col
							.calculator__result-info Итого с вычетом НДФЛ: 
								span.calculator__result-profit
								|&nbsp;руб.
					.calculator__result-line-col
							.calculator__result-info
								div &#8212;  за месяц 
								span.calculator__result-profit-month
								|&nbsp;руб.



// SERVICES CONTENT
block servicesContent
	// Tab_content-1
	.tab-pane.fade.in.active(id="deposit-serv-1")
		//- Calculator
		include ../../../calculator/template-m
		.services-info
			.container-inner
				.row
					.col-xs-6
						.services-desc
							.services-desc__item
								img(src="images/percentage.png", alt="")
								.services-desc__item-name До 19,10 <br>процентов <br>годовых
					.col-xs-6
						.services-desc
							.services-desc__item
								img(src="images/calendar4.png", alt="")
								.services-desc__item-name Возможно ежемесечное снятие процентов
		.services-info-bottom
			.container-inner.clearfix
				p Гибкая программа с возможностью ежемесячно получать проценты по Сбережениям, неплохое дополнение к вашему ежемесячному доходу.
	// Tab_content-2
	append calcVars
		-calcAmountMin = 10000
		-calcAmountMax = 500000
		-calcAmountStep = 10000
		-calcAmountValue = 350000

		-calcTerm = 'month'
		-calcTermMin = 1
		-calcTermMax = 12
		-calcTermStep = 1
		-calcTermValue = 7
		-calcRate = '[[10000, 15.5], [150000, 17.8], [250000, 20.6]]'
		
	.tab-pane.fade(id="deposit-serv-2")
		//- Calculator
		include ../../../calculator/template-m
		.services-info
			.container-inner
				.row
					.col-xs-6
						.services-desc
							.services-desc__item
								img(src="images/percentage.png", alt="")
								.services-desc__item-name До 20,60 <br>процентов <br>годовых
					.col-xs-6
						.services-desc
							.services-desc__item
								img(src="images/calendar4.png", alt="")
								.services-desc__item-name Снятие процентов только в конце срока действия договора
		.services-info-bottom
			.container-inner.clearfix
				p Гибкая программа с возможностью получать проценты по Сбережениям в конце срока, неплохое дополнение к вашему ежемесячному доходу.



