.modal
	&-dialog
		width 83.33%
		margin 0
		margin-top 100px
	&-content
		max-width 765px
		margin 0 auto
		padding 15px 0
	&-title
		line-height 1.15
		font-weight bold
		font-size $font-size-h2
	&-header
	&-body
	&-footer
		border none
		padding 15px 30px

	.close
		position absolute
		top 35px
		right 35px
		sprite(ico-close)
		&:hover
			sprite(ico-close-hover)

.capcha
	white-space nowrap
	&__item
		display inline-block
		vertical-align top
		&:not(:last-child)
			margin-right 15px
		label
			display block
	.input-group
		position relative
		&:before
			content ''
			position absolute
			top 50%
			left 100%
			margin-left 10px
			transform translateY(-50%)
			backface-visibility hidden
	&.valid
		.input-group
			&:before
				sprite(ico-ok)
	&.not-valid
		.input-group
			&:before
				sprite(ico-no)