.news
	&-list
		margin-bottom 55px
	&__item
		&:not(:last-child)
			margin-bottom 40px
		&-date
			position relative
			padding-left 17px
			margin-left -17px
			&:before
				content ''
				position absolute
				top 2px
				left 0
				sprite(ico-calendar)

			span
				display block
				line-height 1.15
				&:not(:last-child)
					font-weight bold
				&:last-child
					margin-top 7px
					font-size $font-size-small - 1
		&-title
			display inline-block
			margin-bottom 0.6em
			font-weight bold
		&-desc
			img
				margin-top 20px
				margin-bottom 45px

	// Detail
	&-detail
		margin-top 50px