// News list
.news-list
	.news__item
		.row
			.col-md-2
				.news__item-date
					span 9
					span октября
					span 2015 года
			.col-md-9
				.news__item-desc
					a.news__item-title(href="#{newsDetailPage}") Открытие нового офиса в городе Дивногорск
					.news__item-info Рады Вам сообщить, что с 20 октября у нас начинает работу новый офис в городе Дивногорск, Красноярского края.

	.news__item
		.row
			.col-md-2
				.news__item-date
					span 21
					span августа
					span 2015 года
			.col-md-9
				.news__item-desc
					a.news__item-title(href="#{newsDetailPage}") Займы до 1 000 000 рублей под залог автомобиля
					.news__item-info Запущена новая программа по займам по самой низкой %% ставке!

	.news__item
		.row
			.col-md-2
				.news__item-date
					span 1
					span марта
					span 2015 года
			.col-md-9
				.news__item-desc
					a.news__item-title(href="#{newsDetailPage}") Новые условия по займам с ежемесячным платежом!
					.news__item-info Снижение процентной ставки!

	.news__item
		.row
			.col-md-2
				.news__item-date
					span 27
					span января
					span 2015 года
			.col-md-9
				.news__item-desc
					a.news__item-title(href="#{newsDetailPage}") Страхование личных сбережений граждан
					.news__item-info Все Ваши сбережения защищены!

	.news__item
		.row
			.col-md-2
				.news__item-date
					span 19
					span декабря
					span 2014 года
			.col-md-9
				.news__item-desc
					a.news__item-title(href="#{newsDetailPage}") Три дня в подарок по займу
					.news__item-info Все Ваши сбережения защищены!

ul.pagination.pagination-compense
	li.previous: a(href="") Назад
	ul.pages
		li: a(href="") 1
		li.active
			a(href="") 2
			span.all-pages из 55
		li: a(href="") 3
		li: a(href="") 4
		li: a(href="") 5
		li: a(href="") 6
		li: a(href="") 7
	li.next: a(href="") Вперед
// END-News list