header.main-header
	.row
		.col-md-4
			a.logo(href="#{indexPage}")
				img(src="images/logo.png", alt="")
		.col-md-8
			-var arrNav = [['Новости', newsPage], ['Вопросы и ответы', questPage], ['оплатить займ', loanPage], ['Компания', companyPage], ['Контакты', contactsPage]]
			+nav(arrNav, 'nav-main', 3)
			.main-header-contact
				.media-full
					.phone-contact
						a(href="tel:8-800-333-39-64;") 8 800 333 39 64
						span &#8212; Телефон для справок
				.media-full.text-right
					.dropdown.dropdown-call
						a.request-call.dropdown-toggle(href="" data-toggle="dropdown"): span Заказать звонок
						form.dropdown-menu
							button.close(type="button" data-toggle="dropdown")
							.form-group
								label(for="") Ваше имя:
								input.form-control.input-sm(type="text")
							.form-group
								label(for="") Номер телефона:
								input.form-control.input-sm(type="text")
							.form-group
								button.btn.btn-primary(type="submit") Заказать звонок
