block headerVars
	-var navTitle = 'контакты'
		-navLink = contactsMobPage
	
header.main-header
	.container-inner
		.row
			.col-xs-6
				a.logo(href="#{indexMobPage}")
					img(src="images/logo-m.png", alt="")
			.col-xs-6.text-right
				a.text-arrow(href="#{navLink}")= navTitle
