anim-hide()
	max-height 0
	margin 0
	opacity 0

.main-header
	padding-top 20px
	padding-bottom 20px
	&-contact
		.media-full
			white-space nowrap

.nav-main
	padding-top 20px
	padding-bottom 30px
	@extend .justify
	> li
		display inline-block
		white-space nowrap
		> a
			padding 0
			font-size 16px

.request-call
	display inline-block
	padding 6px 12px
	border 1px solid #dfdfdf
	border-radius 5px
	font-style italic
	font-size $font-size-small
