.company
	&-block
		.nav-tabs-custom
			margin-bottom 30px
		.angle-block
			margin-left -20px
			&-content
				padding-left 20px
		.slider-docs
			margin-right -65px
	&-requisites
		&__info
			padding-left 50px
		&__block
			margin-bottom 60px
			clearfix()
		&__line
			margin-left -($grid-gutter-width * 0.5)
			margin-right -($grid-gutter-width * 0.5)
			clearfix()