.company-block
	ul.nav.nav-pills.nav-tabs-custom
		li.active: a(href="#company-tab1" data-toggle="pill") Мы
		li: a(href="#company-tab2" data-toggle="pill") Реквизиты
		li: a(href="#company-tab3" data-toggle="pill") Документы
	// Tab Content
	.tab-content
		// Tab 1
		.tab-pane.fade.in.active(id="company-tab1")
			include tabs/main
		// Tab 2
		.tab-pane.fade(id="company-tab2")
			include tabs/requisites
		// Tab 3
		.tab-pane.fade(id="company-tab3")
			include tabs/doc