.main-footer
	position absolute
	left 0
	right 0
	bottom 0
	padding-bottom 40px
	&-wrap
		> .row
			margin-left -30px
			margin-right -30px
	.nav-main
		padding-top 7px
		padding-bottom 38px
	.phone-contact
		white-space nowrap
		margin-bottom 15px
	.mail-big
		font-weight bold
		font-size 23px