footer.main-footer
	.col-md-offset-1.col-md-10.main-footer-wrap
		.row
			.col-md-7
				-var arrNav = [['Новости', newsPage], ['Вопросы и ответы', questPage], ['Отзывы', reviewsPage], ['Компания', companyPage], ['Контакты', contactsPage]]
				+nav(arrNav, 'nav-main')
				.copyright &copy; 2012-2016 Сберкасса
			.col-md-5
				.phone-contact
					a(href="tel:8-800-333-39-64;") 8 800 333 39 64
					span &#8212; Телефон для справок
				a.mail-big(href="mailto:client@sbercredit.com;") client@sbercredit.com
