block footerVars
	-var footerMain = true
	
if footerMain
	footer.main-footer
		.text-center
			a.main-footer__nav-link(href="#{contactsMobPage}") Контакты
			.phone-contact
				a(href="tel:8-800-333-39-64;") 8 800 333 39 64
			a.full-ver(href="") Полная версия сайта
else
	footer.main-footer
		.text-center
			a.full-ver(href="") Полная версия сайта