// Quest block

.quest-block
	.angle-block.angle-block_left-wrapping.angle-block_yellow
		.angle-block-wrap
			.angle-block-content.clearfix
				.row
					.col-md-6
						.title-min Какие документы необходимы для получения займа в «СберКассе»?
						p Для получения займа вам необходим только паспорт гражданина РФ.

					.col-md-6
						.title-min Могут ли у меня быть одновременно несколько активных займов в «СберКассе»?
						p Если вы являетесь нашим постоянным клиентом, оплачиваете займы без просрочек, то возможен второй займ
	.quest-block__item
		.title-min Могу ли я получить займ, если у меня уже есть активные кредиты в банке?
		.quest-block__desc Да. Вы можете получить займ, но только при отсутствии просрочки по Вашим кредитным платежам более 90 дней.
	.quest-block__item
		.title-min Когда я могу получить свои деньги?
		.quest-block__desc Ваш займ Вы получаете сразу после подписания договора, в течение нескольких минут после одобрения заявки.
	.quest-block__item
		.title-min Нужны ли залог или поручительство для получения займа? Есть ли какие то скрытые проценты или страхование жизни?
		.quest-block__desc Для получения займа не нужны ни залог, ни поручительство. Также напоминаем, что в "СберКассе" все условия договора прозрачны и не имеют никаких "мелких шрифтов" в конце договора. Также напоминаем, что дополнительных услуг вместе с нашими займами, такими как различные виды страхований, мы не продвигаем.
	.quest-block__item
		.title-min Что необходимо для того, чтобы я смог оформить займы в "СберКассе»?
		.quest-block__desc Вы должны быть гражданином Российской Федерации в возрасте от 18 до 65 лет и иметь стаж на последнем месте работы не менее 3 месяцев.
	.quest-block__item
		.title-min Как и где можно оплатить ваш займ?
		.quest-block__desc Наш займ возможно оплатить непосредственно в офисах компании. Список офисов доступен во вкладке "Контакты" сайта. Также возможна оплата на банковский счет организации. Реквизиты Вы можете посмотреть либо в Вашем договоре займа, либо во вкладке "О компании" сайта.
	.quest-block__item
		.title-min Сколько времени рассматривается моя заявка на займ?
		.quest-block__desc Ваша заявка на займ будет рассмотрена в течение 10-15 минут. Если Вы наш постоянный клиент - время рассмотрения уменьшается втрое.
	.quest-block__item
		.title-min Как и где я могу оформить заявку на займ?
		.quest-block__desc Оформить заявку Вы можете либо непосредственно в офисах компании, либо на данном сайте, нажав на кнопку "ОНЛАЙН ЗАЯВКА".
	.quest-block__item
		.title-min Для чего вам мой ИНН при заключении договора сбережения?
		.quest-block__desc Для перечисления подоходного налога в бюджет. "СберКасса" является налоговым агентом. Этим мы избавляем Вас, наших клиентов, от необходимости посещать налоговую инспекцию и заполнять декларацию о доходах.
	.quest-block__item
		.title-min Есть ли у вас лицензия?
		.quest-block__desc Деятельность нашей компании не подлежит лицензированию.
	.quest-block__item
		.title-min Почему такой высокий процент?
		.quest-block__desc Сбережения наших клиентов мы выдаем под 1-2% в день, именно поэтому мы и гарантируем получение такого высокого процента.
	.quest-block__item
		.title-min Потеряю ли я свои проценты при досрочном расторжении договора?
		.quest-block__desc Если Вы собираетесь досрочно расторгнуть договор, процент пересчитывается на весь срок договора под 2% годовых.

// END-Quest block