// Docs
.company-docs
	.swiper-container.slider-docs.my-gallery(itemscope )
		.swiper-wrapper
			-for(var i = 0; i < 4; i++)
				figure.swiper-slide.slider-docs__item(itemscope itemprop="associatedMedia" )
					a.slider-docs__item-image(href="images/doc-big-blank1.jpg" data-size="612x842" itemprop="contentUrl")
						img(src="images/doc-blank1.jpg", alt="" itemprop="thumbnail")
					figcaption.slider-docs__item-desc(itemprop="caption description") Свидетельство ОГРН
				figure.swiper-slide.slider-docs__item(itemscope itemprop="associatedMedia" )
					a.slider-docs__item-image(href="images/doc-big-blank1.jpg" data-size="612x842" itemprop="contentUrl")
						img(src="images/doc-blank2.jpg", alt="" itemprop="thumbnail")
					figcaption.slider-docs__item-desc(itemprop="caption description") Свидетельство ФСФР
				figure.swiper-slide.slider-docs__item(itemscope itemprop="associatedMedia" )
					a.slider-docs__item-image(href="images/doc-big-blank1.jpg" data-size="612x842" itemprop="contentUrl")
						img(src="images/doc-blank3.jpg", alt="" itemprop="thumbnail")
					figcaption.slider-docs__item-desc(itemprop="caption description") Страховой полис СК "Держава"
		.slider-docs-arrow
			.slider-docs-arrow__prev
			.slider-docs-arrow__sep
			.slider-docs-arrow__next
// END-Docs
