// Main Company
.company-info
	p Компания «СберКасса» (ООО «Микрофинансовая организация "Финанс Мониторинг» и КПК "Сберкасса"), основана в 2012 году. Компания создана в городе Красноярске, начала свою деятельность с небольшого отдела в городе Заозерный, продолжила свое развитие по всему Красноярскому краю, увеличив количество и площади своих офисов, сделав при этом посещение своих клиентов более удобным и приятным.
	blockquote Миссия нашей компании — организовать повсеместный доступ населения к доступным финансовым продуктам посредством обширной розничной сети.
	p Компания в настоящий момент сеть насчитывает 7 офисов выдачи займов в городах:
	p
		a.link-big(href="") Бородино,
		| 
		a.link-big(href="") Заозерный,
		| 
		a.link-big(href="") Железногорск,
		| 
		a.link-big(href="") Канск,
		| 
		a.link-big(href="") Дивногорск,
		| 
		a.link-big(href="") а также Ачинск.
	p Также планируется открытие новых офисов за пределами Красноярского края.

	.angle-block
		.angle-block-wrap
			.angle-block-content.clearfix
				p Деятельность нашей компании регулируют 2 закона: <br>
					strong Федеральный закон Российской Федерации от 2 июля 2010 года N 151-ФЗ «О микрофинансовой деятельности и микрофинансовых организациях» <br>
					|и 
					strong Федеральный закон Российской Федерации от 18.07.2009 №190-ФЗ «О кредитной кооперации».
				p Компания внесена в реестр МФО 27.12.2012 года и имеет регистрационный номер 651203504002559.

	p Бизнес компании «СберКасса» отвечает всем возможным требованиям законности, все товарные знаки имеют государственную регистрацию, программное обеспечение и оборудование отвечает всем действующим законам, требованиям ФСБ, ФСТЭК.
	br
	p С октября 2013 года компания начала прием сбережений от населения. Данный вид деятельности благотворно отразился на мнении клиентов о компании, доверие наших клиентов крепнет с каждым днем.
	br
	p Еще в начале своего пути «СберКасса» ставила в приоритет качество обслуживания клиентов и быстрое оформление займов, ведь мы понимаем, что самым главным в нашей работе является на первом месте ПОМОЩЬ нашим клиентам, высокая скорость обслуживания и индивидуальный подход к каждому! Мы всегда рады работать только для вас!
	br
	p Компания «СберКасса» действует строго в соответствии с законодательством Российской Федерации под строгим контролем со стороны Центрального банка России.

// END-Main Company

