// Requisites
.company-requisites
	.company-requisites__block
		.company-requisites__line
			.col-md-3.text-right: b Компания:
			.col-md-9.company-requisites__info ООО "Микрофинансовая организация "Финанс Мониторинг"
		.company-requisites__line
			.col-md-3.text-right: b Юридический адрес:
			.col-md-9.company-requisites__info Красноярский край, Красноярск г, Комарова ул, дом 6, офис 50
		.company-requisites__line
			.col-md-3.text-right: b ИНН:
			.col-md-9.company-requisites__info 2465280869
		.company-requisites__line
			.col-md-3.text-right: b КПП:
			.col-md-9.company-requisites__info 246501001
		.company-requisites__line
			.col-md-3.text-right: b ОГРН:
			.col-md-9.company-requisites__info 1122468059009
		.company-requisites__line
			.col-md-3.text-right: b БАНК:
			.col-md-9.company-requisites__info СИБИРСКИЙ ФИЛИАЛ ПАО КБ "ВОСТОЧНЫЙ", КРАСНОЯРСК
		.company-requisites__line
			.col-md-3.text-right: b БИК:
			.col-md-9.company-requisites__info 040407699
		.company-requisites__line
			.col-md-3.text-right: b Р/С:
			.col-md-9.company-requisites__info 40702810929690001338
		.company-requisites__line
			.col-md-3.text-right: b К/С:
			.col-md-9.company-requisites__info 30101810100000000699

	.company-requisites__block
		.company-requisites__line
			.col-md-3.text-right: b Компания:
			.col-md-9.company-requisites__info ООО "Микрофинансовая организация "Финанс Мониторинг"
		.company-requisites__line
			.col-md-3.text-right: b Юридический адрес:
			.col-md-9.company-requisites__info Красноярский край, Красноярск г, Комарова ул, дом 6, офис 50
		.company-requisites__line
			.col-md-3.text-right: b Телефон:
			.col-md-9.company-requisites__info 8 (800) 333-39-64
		.company-requisites__line
			.col-md-3.text-right: b ИНН:
			.col-md-9.company-requisites__info 2466273303
		.company-requisites__line
			.col-md-3.text-right: b КПП:
			.col-md-9.company-requisites__info 246601001
		.company-requisites__line
			.col-md-3.text-right: b ОГРН:
			.col-md-9.company-requisites__info 1142468031848
		.company-requisites__line
			.col-md-3.text-right: b БАНК:
			.col-md-9.company-requisites__info Юго-Западный Банк ОАО Сбербанк России г. Ростов-на-Дону
		.company-requisites__line
			.col-md-3.text-right: b БИК:
			.col-md-9.company-requisites__info 046015602
		.company-requisites__line
			.col-md-3.text-right: b Р/С:
			.col-md-9.company-requisites__info 40703810830060002233
		.company-requisites__line
			.col-md-3.text-right: b К/С:
			.col-md-9.company-requisites__info 30101810600000000602

// END-Requisites