- var pageScripts = pageScripts || [[], [], []];

mixin renderScript(scripts)
	each src in scripts
		- var isExternalScript = /^(?:https?\:)?\/\//i;
		- src = isExternalScript.test(src) ? src : 'scripts/' + src;
		script(src=src)

mixin script()
	- var args = arguments;
	each scripts, i in args
		each src in scripts
			- var index = args[1] === true ? 2 : i === 0 ? 1 : 0;
			if pageScripts[index].indexOf(src) === -1
				- pageScripts[index].push(src);

mixin scripts()
	+renderScript([].concat.apply([], pageScripts))
	

//- Nav
mixin nav(arrNav, navClass, active)
	-navClass = navClass || ''
	-active = active || ''
	
	if !arrNav
		block
	else
		ul.nav(class="#{navClass}")
			each link, index in arrNav
				if(Object.prototype.toString.call( link ) === '[object Array]')
					if(index+1 == active)
						li.active: a(href="#{link[1]}")= link[0]
					else
						li: a(href="#{link[1]}")= link[0]
				else
					if(index+1 == active)
						li.active: a(href="")= link
					else
						li: a(href="")= link
					

//- Breadcrumb
mixin breadcrumb(arrLi)
	if !arrLi
		block
	else
		ol.breadcrumb
			each link, index in arrLi
				if(index == arrLi.length - 1)
					li.active: a(href="")= link
				else
					li: a(href="")= link

//- Pagination
mixin pagination(pgLength, active)
	- pgLength = pgLength || 10 // default
	- active = active || 1 // default
	ul.pagination
		li.previous: a.btn-prev(href="")
		ul.pages
			- for (var i = 1; i < pgLength+1; i++)
				if(i == active)
					li.active: a(href="")= i
				else
					li: a(href="")= i
		li.next: a.btn-next(href="")

//- Rating Stars
mixin rating-stars(vote, mod)
	- var args = arguments
	- var size = 5
	- var randomVote = Math.floor((Math.random() * 10) + 1)
	- var regex = /\_/

	if vote == random
		-vote = randomVote

	-var modif = regex.test(mod) ? 'rating-stars'+mod : ''
	
	.rating-stars(class="rating-stars_vote#{vote} #{modif}")
		- for (var i = 1; i < size+1; i++)
			.rating-stars__item.ficon-star
		.rating-stars__current
			- for (var i = 1; i < size+1; i++)
				.rating-stars__item.ficon-star
