//- Modal
-var loginModal = 'loginModal'
	-questModal = 'questModal'
	-reviewsModal = 'reviewsModal'

//- Other
-var pageTitle = 'Template'
-var classPageAdd

//- Pages
-var indexPage = 'index.html'
	-depositPage = 'deposit.html'
	-newsPage = 'news.html'
	-newsDetailPage = 'news-detail.html'
	-questPage = 'quest.html'
	-reviewsPage = 'reviews.html'
	-loanPage = 'loan-payment.html'
	-companyPage = 'company.html'
	-contactsPage = 'contacts.html'
	-prorgramPage = 'program-template.html'
	-appPage = 'online-application.html'
	-indexMobPage = 'm-index.html'
	-depositMobPage = 'm-deposit.html'
	-contactsMobPage = 'm-contacts.html'
	-loanMobPage = 'm-loan.html'
	-payYandexMobPage = 'm-payment-yandex.html'
	-payBankMobPage = 'm-payment-bank.html'
