.loan-payment
	.swiper-container.not-init
		.swiper-wrapper
			.swiper-slide(data-hash="paymentChange")
				h1.title-main Как
					span оплатить займ
				.loan-payment-type
					a.loan-payment-type__item.loan-payment-type__item_dev(href="")
						span.loan-payment-type__item-img
							img(src="images/card-payment.png", alt="")
						span.loan-payment-type__item-title Можно оплатить картой
					a.loan-payment-type__item(href="#paymentYandex")
						span.loan-payment-type__item-img
							img(src="images/yandex-payment.png", alt="")
						span.loan-payment-type__item-title Оплатить яндекс деньгами
					a.loan-payment-type__item(href="#paymentBank")
						span.loan-payment-type__item-img
							img(src="images/bank-payment.png", alt="")
						span.loan-payment-type__item-title Оплатить банковским переводом
			.swiper-slide(data-hash="paymentYandex")
				.h1.title-main Оплата с помощью
					span яндекс.денег
				form(action="")
					.form-group
						.row
							.col-md-4
								.group-req
									label(for="") Фамилия:
									input.input-sm.form-control(type="text" name="paymentLastName" required minLength="3")
							.col-md-4
								.group-req
									label(for="") Имя:
									input.input-sm.form-control(type="text" name="paymentUserName" required minLength="3")
							.col-md-4
								.group-req
									label(for="") Отчество:
									input.input-sm.form-control(type="text" name="paymentThirdName" required minLength="3")
					.form-group
						.row
							.col-md-8
								.inp-col-md.group-req
									label(for="") Мобильный:
									.input-group
										.ib.vam
											input.input-sm.form-control(type="text" name="paymentMobNum" required data-rule-mobileFormat="true")
										.ib.vam Без указания &laquo;8&raquo; и &laquo;+7&raquo;.
							.col-md-4
								.group-req
									label(for="") Сумма платежа
									input.input-sm.form-control.number(type="text" name="paymentSum" required)
					.row
						.col-md-8
							.angle-block.angle-block_left-wrapping.angle-block_orange
								.angle-block-wrap
									.angle-block-content
										.h4 Извините мы не можем найти Вас по указанным данным, убедитесь что все поля заполнены верно
					ul.loan-payment-nav
						li: a.loan-payment-nav__back(href="#paymentChange") Вернуться к выбору оплаты
						li: a.btn.loan-payment__link.disabled(href="") Перейти к оплате
			.swiper-slide(data-hash="paymentBank")
				.h1.title-main Оплата с помощью
					span банковского перевода
				.company-requisites
					.company-requisites__block
						.company-requisites__line
							.col-md-3.text-right: b Компания:
							.col-md-9.company-requisites__info ООО "Микрофинансовая организация "Финанс Мониторинг"
						.company-requisites__line
							.col-md-3.text-right: b Юридический адрес:
							.col-md-9.company-requisites__info Красноярский край, Красноярск г, Комарова ул, дом 6, офис 50
						.company-requisites__line
							.col-md-3.text-right: b ИНН:
							.col-md-9.company-requisites__info 2465280869
						.company-requisites__line
							.col-md-3.text-right: b КПП:
							.col-md-9.company-requisites__info 246501001
						.company-requisites__line
							.col-md-3.text-right: b ОГРН:
							.col-md-9.company-requisites__info 1122468059009
						.company-requisites__line
							.col-md-3.text-right: b БАНК:
							.col-md-9.company-requisites__info СИБИРСКИЙ ФИЛИАЛ ПАО КБ "ВОСТОЧНЫЙ", КРАСНОЯРСК
						.company-requisites__line
							.col-md-3.text-right: b БИК:
							.col-md-9.company-requisites__info 040407699
						.company-requisites__line
							.col-md-3.text-right: b Р/С:
							.col-md-9.company-requisites__info 40702810929690001338
						.company-requisites__line
							.col-md-3.text-right: b К/С:
							.col-md-9.company-requisites__info 30101810100000000699
				ul.loan-payment-nav
					li: a.loan-payment-nav__back(href="#paymentChange") Вернуться к выбору оплаты
					li: a.btn.loan-payment__link(href="") Перейти к оплате
					
