extends layout/default

prepend css
	link(rel="stylesheet", href="scripts/libs/photo-swipe/photoswipe.css")
	link(rel="stylesheet", href="scripts/libs/photo-swipe/default-skin/default-skin.css")
	link(rel="stylesheet", href="scripts/libs/swiper/css/swiper.min.css")

block content
	// Section
	.main-content__section
		h1.title-main Наша
			span компания
		include blocks/company/template
				
	//END-Section
	
block addition-content
	include blocks/modals/photo-gallery

append scripts
	script.
		$(function(){
			
		})