extends layout/default



block content
	// Section
	.main-content__section
		h1.title-main Контактная
			span информация
		.contacts-info
			.contacts-info-render
				.form-group
					.row
						.col-md-3
							label Выберите область
						.col-md-9
							select.selectpicker(name="")
								option(value="all") Все регионы
				.row
					.col-md-3
						ul.nav.nav-pills.nav-stacked.nav-services
						//-
							li.active: a(href="" data-toggle="pill"): span Ачинск
							li: a(href="" data-toggle="pill"): span Бородино
							li: a(href="" data-toggle="pill"): span Железногорск
					.col-md-9
						#map-contacts
	//END-Section


append scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="scripts/contacts.js")
	script.
		$(function(){
			$('.selectpicker').selectpicker();
		})
