extends layout/default

block changeVar
	-classPageAdd = 'main-page'

block content
	// Section
	.main-content__section.services-section
		h1.title-main Я хочу
			span сделать вклад
		include blocks/main-page/services/deposit/template
	//END-Section
	// News bottom
	.main-content__section
		include blocks/main-page/news/template
	// END-News bottom

block right-col
	.right-fix
		.main-container__col-right-section
			a.change-service.change-service_with-icon.change-service_get-money(href="#{indexPage}")
				|Я хочу получить
				span деньги

block addition-content


append scripts
	script.
		$(function(){
			$('.calculator').calcula()
		})