extends layout/default

prepend css
	link(rel="stylesheet", href="scripts/libs/swiper/css/swiper.min.css")
append css
	link(rel="stylesheet", href="styles/loan-payment.css")

block content
	// Section
	.main-content__section
		include blocks/loan-payment/template
	//END-Section


append scripts
	script(src="scripts/loan.js")
	script.
		$(function(){
			
		})
