extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="scripts/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			.text-center
				h1 Оформление заявки
		
	//END-Section
	// Section
	.main-content__section
		include blocks/app/template-m
	//END-Section

block addition-content

append scripts
	script(src="scripts/online-steps.js")
	script.
		$(function(){
			$('.calculator').calcula()
		})
