extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="styles/styles-m.css")

append headerVars
	-navTitle = 'на главную'
	-navLink = indexMobPage

append footerVars
	-footerMain = false

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			.text-center
				h1 Контактная информация
	//END-Section
	// Section
	.main-content__section
		.contacts-info
			.contacts-info-render
				.container-inner
					.text-center
						.phone-contact
							a(href="tel:8-800-333-39-64;") 8 800 333 39 64
						.mail-contact
							a(href="mailto: client@sbercredit.com") client@sbercredit.com
					.form-group
						label Выберите город
						select.selectpicker(name="")
				#map-contacts.loading
	//END-Section


append scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="scripts/contacts-m.js")
	script.
		$(function(){
			$('.selectpicker').selectpicker();
		})