extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			nav.serv-nav
				a.serv-nav__item(href="#{indexMobPage}")
					|Я хочу
					span получить деньги
				a.serv-nav__item.active(href="#{depositMobPage}")
					|Я хочу
					span сделать вклад
				a.serv-nav__item(href="#{loanMobPage}")
					|Я хочу
					span оплатить займ
			// SERVICES NAV
			ul.nav.nav-pills.nav-stacked.nav-services
				li.active: a(href="#deposit-serv-1" data-target="#deposit-serv-1, #deposit-serv_info-1" data-toggle="pill"): span Срочный
				li: a(href="#deposit-serv-2" data-target="#deposit-serv-2, #deposit-serv_info-2" data-toggle="pill"): span Выгодный
		
	//END-Section
	// Section
	.main-content__section
		include blocks/main-page/services/deposit/template-m
	//END-Section

block addition-content

append scripts
	script.
		$(function(){
			$('.calculator').calcula()
		})
