extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			nav.serv-nav
				a.serv-nav__item.active(href="#{indexMobPage}")
					|Я хочу
					span получить деньги
				a.serv-nav__item(href="#{depositMobPage}")
					|Я хочу
					span сделать вклад
				a.serv-nav__item(href="#{loanMobPage}")
					|Я хочу
					span оплатить займ
			// SERVICES NAV
			ul.nav.nav-pills.nav-stacked.nav-services
				li.active: a(href="#debt-serv-1" data-target="#debt-serv-1, #debt-serv_info-1" data-toggle="pill"): span Без залога до 30 дней
				li: a(href="#debt-serv-2" data-target="#debt-serv-2, #debt-serv_info-2" data-toggle="pill"): span Без залога до 12 месяцев
		
	//END-Section
	// Section
	.main-content__section
		include blocks/main-page/services/debt/template-m
	//END-Section

block addition-content

append scripts
	script.
		$(function(){
			$('.calculator').calcula()
		})
