extends layout/default-m

append changeVar
	-classPageAdd = ''

block css
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			nav.serv-nav
				a.serv-nav__item(href="#{indexMobPage}")
					|Я хочу
					span получить деньги
				a.serv-nav__item(href="#{depositMobPage}")
					|Я хочу
					span сделать вклад
				a.serv-nav__item.active(href="#{loanMobPage}")
					|Я хочу
					span оплатить займ
		
	//END-Section
	// Section
	.main-content__section
		.container-inner
			.loan-payment
				.loan-payment-type
					a.loan-payment-type__item.loan-payment-type__item_dev(href="")
						span.loan-payment-type__item-img
							img(src="images/card-payment.png", alt="")
						span.loan-payment-type__item-title Оплатить картой
					a.loan-payment-type__item(href="#{payYandexMobPage}")
						span.loan-payment-type__item-img
							img(src="images/yandex-payment.png", alt="")
						span.loan-payment-type__item-title Оплатить яндекс деньгами
					a.loan-payment-type__item(href="#{payBankMobPage}")
						span.loan-payment-type__item-img
							img(src="images/bank-payment.png", alt="")
						span.loan-payment-type__item-title Оплатить банковским переводом
	//END-Section

block addition-content

append scripts
	script.
		$(function(){
			
		})
