extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			.text-center
				h1 Оплата займа
					span Банковский перевод
	//END-Section
	// Section
	.main-content__section
		.container-inner
			.loan-payment
				.company-requisites
					.company-requisites__block
						.company-requisites__line
							b Компания:
							.company-requisites__info ООО "Микрофинансовая организация "Финанс Мониторинг"
						.company-requisites__line
							b Юридический адрес:
							.company-requisites__info Красноярский край, Красноярск г, Комарова ул, дом 6, офис 50
						.company-requisites__line
							b ИНН:
							.company-requisites__info 2465280869
						.company-requisites__line
							b КПП:
							.company-requisites__info 246501001
						.company-requisites__line
							b ОГРН:
							.company-requisites__info 1122468059009
						.company-requisites__line
							b БАНК:
							.company-requisites__info СИБИРСКИЙ ФИЛИАЛ ПАО КБ "ВОСТОЧНЫЙ", КРАСНОЯРСК
						.company-requisites__line
							b БИК:
							.company-requisites__info 040407699
						.company-requisites__line
							b Р/С:
							.company-requisites__info 40702810929690001338
						.company-requisites__line
							b К/С:
							.company-requisites__info 30101810100000000699
				ul.loan-payment-nav
					li: a.btn.loan-payment__link(href="") Продолжить
					li: a.loan-payment-nav__back(href="#{loanMobPage}") Вернуться к выбору оплаты
	//END-Section


append scripts
	script.
		$(function(){
		})
