extends layout/default-m

append changeVar
	-classPageAdd = ''
	
block css
	link(rel="stylesheet", href="styles/styles-m.css")

block content
	// Section
	.main-content__section.main-content__section-top
		.container-inner
			.text-center
				h1 Оплата займа
					span Яндекс.Деньги
	//END-Section
	// Section
	.main-content__section
		.container-inner
			.loan-payment
				form(action="")
					.form-group.group-req
						label(for="") Фамилия:
						input.input-sm.form-control(type="text" name="paymentLastName" required minLength="3")
					.form-group.group-req
						label(for="") Имя:
						input.input-sm.form-control(type="text" name="paymentUserName" required minLength="3")
					.form-group.group-req
						label(for="") Отчество:
						input.input-sm.form-control(type="text" name="paymentThirdName" required minLength="3")
					.form-group.group-req
						label(for="") Сумма платежа
						input.input-sm.form-control.number(type="text" name="paymentSum" required)
					.form-group.group-req
						label(for="") Мобильный:
						input.input-sm.form-control(type="text" name="paymentMobNum" placeholder="(___) ___-__-__" required data-rule-mobileFormat="true")
						.help-block Без указания &laquo;8&raquo; и &laquo;+7&raquo;. Например: (924) 166-75-87
					.angle-block.angle-block_left-wrapping.angle-block_orange
						.angle-block-wrap
							.angle-block-content
								.h4 Извините мы не можем найти Вас по указанным данным, убедитесь что все поля заполнены верно
					ul.loan-payment-nav
						li: a.btn.loan-payment__link.disabled(href="") Продолжить
						li: a.loan-payment-nav__back(href="#{loanMobPage}") Вернуться к выбору оплаты
	//END-Section


append scripts
	script(src="scripts/loan-m.js")
	script.
		$(function(){
		})
