extends layout/default

append changeVar
	-rightNews = false

block content
	// Section
	.main-content__section
		h1 Новые условия по займам с ежемесячным платежом!
		a.link-back.text-arrow.text-arrow_left.text-arrow_left-compense(href="#{newsPage}"): span Вернуться в список новостей
		include blocks/news/detail/template
	//END-Section


append scripts
	script.
		$(function(){
			
		})