extends layout/default

append changeVar
	-rightNews = false

block content
	// Section
	.main-content__section
		h1.title-main Последние
			span новости
		include blocks/news/template
	//END-Section


append scripts
	script.
		$(function(){
			
		})