extends layout/default

prepend css
	link(rel="stylesheet", href="scripts/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")

block content
	// Section
	.main-content__section
		h1.title-main Онлайн заявка
			span на кредит
		include blocks/app/template
	//END-Section

block addition-content


append scripts
	script.
		$(function(){
			$('.calculator').calcula()
		})