extends layout/default

block content
	// Section
	.main-content__section
		h1.title-main Займ
			span без залога до 30 дней
		include blocks/program/template
	//END-Section



block addition-content


append scripts
	script.
		$(function(){
				
				
			
		})