extends layout/default


block content
	// Section
	.main-content__section
		h1.title-main Вопросы
			span и ответы
		include blocks/quest/template
		button.btn.btn-primary(type="button" data-toggle="modal" data-target="##{questModal}") Задать вопрос
				
	//END-Section


block addition-content
	include blocks/modals/quest


append scripts
	script.
		$(function(){
			
		})