extends layout/default


block content
	// Section
	.main-content__section
		h1.title-main Отзывы
			span Наших клиентов
		include blocks/reviews/template
		button.btn.btn-primary(type="button" data-toggle="modal" data-target="##{reviewsModal}") Оставить отзыв
				
	//END-Section


block addition-content
	include blocks/modals/reviews


append scripts
	script.
		$(function(){
			
		})