extends ../template-m



// SERVICES CONTENT
block servicesContent
	// Tab_content-1
	append calcVars
		-calcRate = 1
		-calcFactor = 1
		-calcTarget = 'micro'
		-calcNotPercent = 3

		-calcTerm = 'days'
		-calcTermMin = 1
		-calcTermMax = 30
		-calcTermStep = 1
		-calcTermValue = 20

	.tab-pane.fade.in.active(id="debt-serv-1")
		//- Calculator
		include ../../../calculator/template-m
		.services-info
			.container-inner
				.row
					.col-xs-6
						.services-desc
							.services-desc__title От вас нужно
							.services-desc__item
								img(src="images/passport.png", alt="")
								.services-desc__item-name Паспорт гражданина РФ
					.col-xs-6
						.services-desc
							.services-desc__title Условия
							.services-desc__item
								img(src="images/money.png", alt="")
								.services-desc__item-name Максимальная сумма займа до 15&nbsp;000&nbsp;&#8381;
							.services-desc__item
								img(src="images/calendar1.png", alt="")
								.services-desc__item-name Займ выдается сроком до 30 дней, через 30 дней можно закрыть займ или продлить его до 30 дней уплатив только проценты!
		.services-info-bottom
			.container-inner.clearfix
				p С необходимостью быстро занять денег сталкивался каждый. Внезапная поломка автомобиля, день рождения близкого человека или просто задержали зарплату? Если вы столкнулись с подобной ситуацией, мы готовы помочь вам без лишних справок только по одному паспорту!

	// Tab_content-2
	append calcVars
		-calcRate = 180
		-calcFactor = 12
		-calcTarget = ''
		-calcNotPercent = ''

		-calcTerm = 'month'
		-calcAmountMin = 10000
		-calcAmountMax = 50000
		-calcAmountStep = 1000
		-calcAmountValue = 35000

		-calcTermMin = 1
		-calcTermMax = 12
		-calcTermStep = 1
		-calcTermValue = 7
		
		-calcTotalTitle = 'Ежемесячный платеж'

	.tab-pane.fade.in(id="debt-serv-2")
		//- Calculator
		include ../../../calculator/template-m
		.services-info
			.container-inner
				.row
					.col-xs-6
						.services-desc
							.services-desc__title От вас нужно
							.services-desc__item
								img(src="images/passport.png", alt="")
								.services-desc__item-name Паспорт гражданина РФ
					.col-xs-6
						.services-desc
							.services-desc__title Условия
							.services-desc__item
								img(src="images/money.png", alt="")
								.services-desc__item-name Максимальная сумма займа до 50&nbsp;000&nbsp;&#8381;
							.services-desc__item
								img(src="images/calendar2.png", alt="")
								.services-desc__item-name Займ выдается сроком до 12 месяцев, с равным ежемесячным платежом!
		.services-info-bottom
			.container-inner.clearfix
				p Для тех, кому срочно нужны деньги в долг, без утомительного сбора справок. У нас вы получите деньги до 50000 рублей, только по паспорту!