extends ../template

// SERVICES NAV
block servicesNav
	ul.nav.nav-pills.nav-stacked.nav-services
		li.active: a(href="#debt-serv-1" data-target="#debt-serv-1, #debt-serv_info-1" data-toggle="pill"): span Без залога до 30 дней
		li: a(href="#debt-serv-2" data-target="#debt-serv-2, #debt-serv_info-2" data-toggle="pill"): span Без залога до 12 месяцев
		li: a(href="#debt-serv-3" data-target="#debt-serv-3, #debt-serv_info-3" data-toggle="pill"): span Под залог автомобилей


// SERVICES INFO
block servicesInfo
	// Tab_info-1
	.tab-pane.fade.in.active(id="debt-serv_info-1")
		.services-info
			.services-desc
				.services-desc__title От вас нужно
				.services-desc__item
					img(src="images/passport.png", alt="")
					.services-desc__item-name Паспорт гражданина РФ
			.services-desc
				.services-desc__title Условия
				.services-desc__item
					img(src="images/money.png", alt="")
					.services-desc__item-name Максимальная сумма займа до 15&nbsp;000&nbsp;&#8381;
				.services-desc__item
					img(src="images/calendar1.png", alt="")
					.services-desc__item-name Займ выдается сроком до 30 дней, через 30 дней можно закрыть займ или продлить его до 30 дней уплатив только проценты!
	// Tab_info-2
	.tab-pane.fade.in(id="debt-serv_info-2")
		.services-info
			.services-desc
				.services-desc__title От вас нужно
				.services-desc__item
					img(src="images/passport.png", alt="")
					.services-desc__item-name Паспорт гражданина РФ
			.services-desc
				.services-desc__title Условия
				.services-desc__item
					img(src="images/money.png", alt="")
					.services-desc__item-name Максимальная сумма займа до 50&nbsp;000&nbsp;&#8381;
				.services-desc__item
					img(src="images/calendar2.png", alt="")
					.services-desc__item-name Займ выдается сроком до 12 месяцев, с равным ежемесячным платежом!
	// Tab_info-3
	.tab-pane.fade(id="debt-serv_info-3")
		.services-info
			.services-desc
				.services-desc__title От вас нужно
				.services-desc__item
					img(src="images/passport.png", alt="")
					.services-desc__item-name Паспорт гражданина РФ
				.services-desc__item
					img(src="images/pts.png", alt="")
					.services-desc__item-name Паспорт транспортного средства
				.services-desc__item
					img(src="images/avto.png", alt="")
					.services-desc__item-name И наличие автомобиля в офисе оформления займа
			.services-desc
				.services-desc__title Условия
				.services-desc__item
					img(src="images/money.png", alt="")
					.services-desc__item-name Максимальная сумма займа до 1&nbsp;000&nbsp;000&nbsp;&#8381;
				.services-desc__item
					img(src="images/calendar3.png", alt="")
					.services-desc__item-name Вы сами выбираете срок займа


// SERVICES CONTENT
block servicesContent
	// Tab_content-1
	append calcVars
		-calcRate = 1
		-calcFactor = 1
		-calcTarget = 'micro'
		-calcNotPercent = 3

		-calcTerm = 'days'
		-calcTermMin = 1
		-calcTermMax = 30
		-calcTermStep = 1
		-calcTermValue = 20

	.tab-pane.fade.in.active(id="debt-serv-1")
		.program-more(style="background-image: url(images/program-more1.jpg)")
			a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе
		//- Calculator
		include ../../../calculator/template
		p С необходимостью быстро занять денег сталкивался каждый. Внезапная поломка автомобиля, день рождения близкого человека или просто задержали зарплату? Если вы столкнулись с подобной ситуацией, мы готовы помочь вам без лишних справок только по одному паспорту!

	// Tab_content-2
	append calcVars
		-calcRate = 180
		-calcFactor = 12
		-calcTarget = ''
		-calcNotPercent = ''

		-calcTerm = 'month'
		-calcAmountMin = 10000
		-calcAmountMax = 50000
		-calcAmountStep = 1000
		-calcAmountValue = 35000

		-calcTermMin = 1
		-calcTermMax = 12
		-calcTermStep = 1
		-calcTermValue = 7
		
		-calcTotalTitle = 'Ежемесячный платеж'

	.tab-pane.fade.in(id="debt-serv-2")
		.program-more(style="background-image: url(images/program-more2.jpg)")
			a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе
		//- Calculator
		include ../../../calculator/template
		p Для тех, кому срочно нужны деньги в долг, без утомительного сбора справок. У нас вы получите деньги до 50000 рублей, только по паспорту!

	// Tab_content-3
	append calcVars
		-calcRate = 15
		-calcFactor = 1
		-calcTarget = 'micro'
		-calcNotPercent = ''

		-calcTerm = 'month'
		-calcAmountMin = 100000
		-calcAmountMax = 1000000
		-calcAmountStep = 10000
		-calcAmountValue = 440000

		-calcTermMin = 1
		-calcTermMax = 12
		-calcTermStep = 1
		-calcTermValue = 3
		
		-calcTotalTitle = 'Сумма к возврату'

	.tab-pane.fade.in(id="debt-serv-3")
		.program-more(style="background-image: url(images/program-more3.jpg)")
			a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе
		//- Calculator
		include ../../../calculator/template
		ul
			li Автомобиль остается у вас, а документ ПТС вы передаете в компанию до возврата займа, который вы получаете под залог авто.
			li Процентная ставка от 8% в месяц
			li Размер займа составит до 50% от стоимости автомобиля
			li Досрочное погашение займа, в любое время с перерасчетом 
			li процентов на день погашения
			li Срок получения займа наличными в течении 30 минут