@import '../base'

@import '../animations'
@import '../links'
@import '../lists'
@import '../navs'
@import '../tables'
@import '../inputs'
@import '../buttons'
@import '../forms'
@import '../pagination'
@import '../dropdowns'
@import '../datapicker'
@import '../services'
@import '../news'
@import '../contacts'


body
	background-color bg-light
	min-width container-m
.container
	width container-m
	padding 0
	&-inner
		width 420px
		margin 0 auto


h1
.h1
	margin-top 0
	font-size $font-size-h1 - 10
	> span
		display block
		margin-top 10px
		font-size $font-size-h4

.text-arrow
	&:before
		top 50%
		font-size 70%
		transform translateY(-40%)

.main
	&-container
		padding-left 0
		padding-right 0
		padding-bottom 0
		&-wrap
			background none
			display block
			min-height 0
			border-radius 0
			&:before
			&:after
				display none
	&-content
		background-color m-main-content-bg
		margin 0 15px
		padding 0
		&__section
			&-top
				background-color bg-light
				position relative
				padding-top 30px
				padding-bottom 20px
				z-index 1
				&:before
				&:after
					content ''
					background-color inherit
					position absolute
					top 100%
					left 0
					width 50%
					padding-bottom 32.5%
					transform-origin 0 0
					transform rotate(-30deg) skewX(50deg)
					z-index -1
				&:after
					left auto
					right 0
					transform-origin 100% 0
					transform rotate(30deg) skewX(-50deg)
				+ .main-content__section
					padding-top 100px

.serv-nav
	padding-bottom 15px
	margin-bottom 50px
	&__item
		background-color #dbdee4
		display table-cell
		position relative
		width 1%
		padding 15px
		text-decoration none
		font-size $font-size-base - 1
		color #595e69
		span
			display block
			line-height 0.9
			font-weight bold
			font-size $font-size-h3
		&.active
			background-color primary-color1
			color text-light
			&:before
				content ''
				position absolute
				top 100%
				left 50%
				margin-left -15px
				border-top 15px solid primary-color1
				border-left 15px solid transparent
				border-right 15px solid transparent
.nav-services
	> li
		&:before
		&:after
			display none
		> a
			display block
			max-height none
			padding 12px 10px
			margin-right 0
			text-align center
			text-decoration none
			font-weight bold
			font-size $font-size-h3
			&:before
				display none

.services
	&-desc
		&__item
			&-name
				padding-left 60px
		&__title
			font-size $font-size-large
	.services
		&-info
			margin-bottom 30px
			padding-right 0
			&-bottom
				background-color m-services-info-bottom-bg
				padding-top 20px
				font-size $font-size-small


.form
	&-group
		&:not(:last-child)
			margin-bottom 30px
		label
			font-weight bold
			font-size $font-size-base + 2
		.help-block
			font-size $font-size-base
			color $text-color
		.error
			font-weight 300
	&-control
		min-height 60px !important
		font-size $font-size-h4

.input
	&-group
		&.date
			position relative
			&:before
				content ''
				position absolute
				sprite(ico-calendar-mob-datepicker)
			&:after
				content "\e259"
				@extend .glyphicon
				position absolute
				right 5px
				top 50%
				transform translateY(-50%)
				font-size 20px
			.form-control
				padding-left 80px
				padding-right 30px
				background none
				border none
				border-radius 0
				box-shadow none
				font-weight bold
				font-size $font-size-large - 2



.datepicker
	position fixed
	top 0 !important
	left 0 !important
	right 0 !important
	.datepicker-switch
		height 105px
	table
		thead
			font-size $font-size-h2
			&:before
				height 105px
		tr
			td
				width 1%
				font-size $font-size-h2
				> span
					height 103px
					line-height 103px
					font-size $font-size-h2
				&.day
					padding 25px 5px
		tfoot
			tr
				th
					height 80px
					line-height 80px
					font-size $font-size-h2

.contacts-info
	&-render
		.form-group
			label
				margin-bottom 10px
	.phone-contact
		margin-bottom 20px
	.mail-contact
		margin-bottom 40px
	.bootstrap-select
		.dropdown-toggle
			padding-left 80px
			padding-right 30px
			min-height 60px
			background none
			border none
			border-radius 0
			box-shadow none
			text-shadow none
			font-weight bold
			font-size $font-size-large - 2
			color $text-color
			&:before
				content ''
				position absolute
				display block
				sprite(ico-geo-mark)
				opacity 1 !important
			&:after
				content "\e259"
				@extend .glyphicon
				position absolute
				right 5px
				top 50%
				transform translateY(-50%)
				font-size 20px
			.filter-option
				background none
				border-radius 0
				padding 0
			.caret
				display none
		> .dropdown-menu
			position fixed
			top 0 !important
			bottom auto !important
			left 0
			right 0
			max-height none !important
			margin-top 0
			float none
			border-radius 0
			ul
				max-height none !important
				float none
				> li
					> a
						padding 20px
						font-size $font-size-h3
.mail-contact
	font-weight bold
	font-size $font-size-h3
#map-contacts
	position relative
	margin-top 50px
	margin-left -15px
	margin-right -15px
	&:before
		content ''
		background bg-light url(../images/loading_ajax.gif) no-repeat center
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		opacity 0
		transition opacity durGlob * 2
		z-index 555

	[class$="-balloon__content"]
		padding 0

	[class*="balloon_layout_panel"]
		padding 0
		box-shadow none !important
	&.loading
		&:before
			opacity 1

.balloon-content
	background-color m-services-info-bottom-bg
	padding-top 45px
	padding-bottom 45px
	margin 0 15px
	&__desc
		padding-left 170px
		font-size $font-size-large
	img
		max-width 150px
