.online-app
	.services-desc__item
		margin-bottom 50px
		padding-right 35px

.steps-app
	&__title
		margin-bottom 50px
		font-weight bold
		font-size $font-size-base
	.form-group
		&:not(:last-child)
			margin-bottom 50px
	.nav-tabs-custom
		margin-bottom 40px
	.calculator__result
		margin-bottom 50px
	
	.steps
		margin-bottom 55px
		ul
			margin 0
			padding 0
			padding-right 32px
			list-style none
			counter-reset steps
			@extend .justify

			> li
				background-color $body-bg
				display table-cell !important
				position relative
				padding-left 32px
				border 3px solid btn-bg1
				text-align center
				color text-light
				&:before
					content ''
					position absolute
					top -3px
					bottom -3px
					left 100%
					margin-left 3px
					border-left 33px solid btn-bg1
					border-top 31px solid transparent
					border-bottom 31px solid transparent
					z-index 1
				&:after
					content ''
					position absolute
					top 0
					bottom 0
					left 100%
					border-left 32px solid $body-bg
					border-top 29px solid transparent
					border-bottom 29px solid transparent
					z-index 1
				> a
					display inline-block
					position relative
					padding-left 17px
					padding-right 5px
					margin -3px
					min-height 65px
					vertical-align middle
					text-align left
					text-decoration none
					font-weight 500
					color btn-bg1
					&:before
						counter-increment steps
						content counter(steps,decimal)
						display inline-block
						width 27%
						vertical-align middle
						line-height 65px
						font-weight bold
						font-size $font-size-h1
					.current-info
						font-size 0
					.steps-text
						position relative
						display inline-block
						width 73%
						padding-left 10px
						padding-right 10px
						text-align left
						line-height normal
						vertical-align middle
						z-index 5
				&.done
					padding-left 0
					border 3px solid lighten($text-color, 30)
					&:before
					&:after
						display none
					a
						background-image linear-gradient(to top, $text-color, lighten($text-color, 10))
						//padding-right 37px
						color text-light
						@extend .glyphicon-ok
						&:before
							@extend .glyphicon
							line-height 65px
							font-size $font-size-h2
					&.last.current
						&:before
							display block
							border-left-color btn-bg1
						a
							background btn-bg1
							&:before
								content ''
								position absolute
								top 50%
								left 50%
								transform translateX(-50%) translateY(-50%)
								sprite(ico-last-done)
							.steps-text
								opacity 0
				&.current
					padding-left 0
					border none
					&:before
						top 0
						bottom 0
						margin-left 0
					&:after
						display none
					a
						background-color btn-bg1
						margin 0
						box-shadow inset 0 7px 3px -5px rgba(255, 255, 255, 0.4), 0 20px 35px -10px rgba(btn-shadow, 0.3)
						text-shadow 0 2px 2px btn-text-shadow
						color text-light
					&.first
						padding-left 0
					~ .done
						background lighten($text-color, 30)
						padding-left 32px
						&:before
							display block
							border-left-color lighten($text-color, 30)
						a
							background lighten($text-color, 30)
							padding-right 5px
							&:before
								content counter(steps,decimal)
								font-family $font-family-sans-serif
								font-weight bold
								font-size $font-size-h1
	.content
		position relative
		margin-bottom 50px
		> .body
			position absolute
			top 0
			left 0
			width 100%
		.title
			display none
		label.error
			position absolute
			top 100%
			left 0
			right 0
			font-size $font-size-small - 2
			color help-block-c
			&:before
				display none
	.actions
		padding-bottom 30px
		ul
			width 91.66%
			list-style none
			margin 0
			padding 0
			> li
				display table-cell
				width 1%
				vertical-align middle
				&:not(:first-child)
					text-align right
				&:first-child
					&.disabled
						+ li
							text-align left
			.disabled
				display none
				+ li:last-child
					display table-cell !important
			a[href="#previous"]
				position relative
				padding-right 1.25em
				text-decoration none
				padding-right 0
				padding-left 1.25em
				font-size $font-size-large
				&:before
					content '\2192'
					position absolute
					font-family monospace
					font-size 105%
					top 0
					right auto
					left 0.3em
					transform rotate(-180deg)
				&:after
					content ''
					position absolute
					top 100%
					left 1.25em
					right 0
					margin-top -2px
					border-bottom 1px solid
				&:hover:after
					border-bottom-color transparent
				
			a[href="#next"]
			a[href="#finish"]
				@extend $btn-std
				margin-bottom 0