form.steps-app(action="")
	h3 Личные данные
	section
		.container-inner
			.form-group.group-req
				label(for="") Фамилия:
				input.input-sm.form-control(type="text" name="lastName" required minLength="3")
			.form-group.group-req
				label(for="") Имя:
				input.input-sm.form-control(type="text" name="userName" required minLength="3")
			.form-group.group-req
				label(for="") Отчество:
				input.input-sm.form-control(type="text" name="thirdName" required minLength="3")
			.form-group.group-req
				label(for="") Мобильный:
				input.input-sm.form-control(type="text" name="mobNum" required data-rule-mobileFormat="true" placeholder="(___) ___-__-__")
				.help-block Без указания &laquo;8&raquo; и &laquo;+7&raquo;. Например: (924) 166-75-87
			.form-group
				label(for="") Электронная почта:
				input.input-sm.form-control.email(type="text")
			.form-group.group-req
				.checkbox
					input(type="checkbox" id="terms" name="termsCheck" required)
					label(for="terms") Я согласен на обработку информации
	h3 Ваш паспорт
	section
		.container-inner
			.form-group.group-req
				label(for="") Где и кем выдан:
				input.input-sm.form-control(type="text" name="passGetName" required)
			.form-group.group-req
				label(for="") Дата выдачи:
				.input-group.date
					input.input-sm.form-control(type="text" name="passGetDate" placeholder="__ __ ____" required readonly="true")
			.form-group.group-req
				label(for="") Код подразделения:
				input.input-sm.form-control(type="text" name="passGetCode" required data-rule-passCode="true" placeholder="___ ___")
			.form-group.group-req
				label(for="") Серия и номер паспорта:
				input.input-sm.form-control(type="text" name="passGetId" required data-rule-passId="true" placeholder="__ __ ______")
			.form-group.group-req
				label(for="") Дата рождения:
				.input-group.date
					input.input-sm.form-control(type="text" name="passBday" placeholder="__ __ ____" required data-rule-dbirthDate="[15, 55]" readonly="true")
			.form-group.group-req
				label(for="") Место рождения:
				input.input-sm.form-control(type="text" name="passBplace" required)
	h3 Ваши адреса
	section
		.container-inner
			.form-group.group-req
				label(for="") Населенный пункт:
				input.input-sm.form-control(type="text" name="addLocation" required)
				.help-block Правильно вводить: «Москва». Неправильно: «МСК», «г. Москва», «гор. Москва».
			.form-group.group-req
				label(for="") Улица:
				input.input-sm.form-control(type="text" name="addStreet" required)
			.form-group
				.row
					.col-xs-4.group-req
						label(for="") Дом:
						input.input-sm.form-control(type="text" name="addHouse" required)
					.col-xs-4
						label(for="") Корпус:
						input.input-sm.form-control(type="text" name="addKorp")
					.col-xs-4
						label(for="") Квартира:
						input.input-sm.form-control(type="text" name="addHnumber")
			.form-group
				label(for="") Домашний телефон:
				input.input-sm.form-control(type="text" name="addPhone")
			.steps-app__title Адрес постоянной регистрации
			.checkbox.checkbox_margin-off
				input(type="checkbox" id="eq-address" name="equalAdd" data-disable="addConst")
				label(for="eq-address") Совпадает с адресом фактического проживания
			.form-group.form-group_margin-sm.group-req
				label(for="") Населенный пункт:
				input.input-sm.form-control(type="text" name="addConstLocation" required)
				.help-block Правильно вводить: «Москва». Неправильно: «МСК», «г. Москва», «гор. Москва».
			.form-group.group-req
				label(for="") Улица:
				input.input-sm.form-control(type="text" name="addConstStreet" required)
			.form-group
				.row
					.col-xs-4.group-req
						label(for="") Дом:
						input.input-sm.form-control(type="text" name="addConstHouse" required)
					.col-xs-4
						label(for="") Корпус:
						input.input-sm.form-control(type="text" name="addConstKorp")
					.col-xs-4
						label(for="") Квартира:
						input.input-sm.form-control(type="text" name="addConstHnumber")
	h3 Данные о&nbsp;работе
	section
		.container-inner
			.form-group.group-req
				label(for="") Название организации:
				input.input-sm.form-control(type="text" name="workName" required)
			.form-group.group-req
				label(for="") Телефон организации:
				input.input-sm.form-control.phone(type="text" name="workPhone" required)
			.form-group.group-req
				label(for="") Должность:
				input.input-sm.form-control(type="text" name="workPos" required)
			.form-group.group-req
				label(for="") Стаж работы в организации в месяцах:
				input.input-sm.form-control.number(type="text" name="workTime" maxLength="3" required)
			.form-group.group-req
				label(for="") Ежемесячная заработная плата:
				input.input-sm.form-control.number(type="text" name="workSalary" required)
.services-info.steps-app-info
	.container-inner
		.services-desc
			.services-desc__title Для оформления заявки требуется:
			.row
				.col-xs-6
					.services-desc__item
						img(src="images/passport.png", alt="")
						.services-desc__item-name Паспорт гражданина РФ
				.col-xs-6
					.services-desc__item
						img(src="images/money.png", alt="")
						.services-desc__item-name Максимальная сумма займа до 15&nbsp;000&nbsp;&#8381;
				.col-xs-6
					.services-desc__item
						img(src="images/calendar1.png", alt="")
						.services-desc__item-name Займ выдается сроком до 30 дней, через 30 дней можно закрыть займ или продлить его до 30 дней уплатив только проценты!