// Online application
.online-app
	.services-info
		.services-desc
			.services-desc__title Для оформления заявки требуется:
			.row
				.tab-content
					.tab-pane.fade.in.active(id="online-app-info-tab1")
						.col-md-4
							.services-desc__item
								img(src="images/passport.png", alt="")
								.services-desc__item-name Паспорт гражданина РФ
						.col-md-4
							.services-desc__item
								img(src="images/money.png", alt="")
								.services-desc__item-name Максимальная сумма займа до 15&nbsp;000&nbsp;&#8381;
						.col-md-4
							.services-desc__item
								img(src="images/calendar1.png", alt="")
								.services-desc__item-name Займ выдается сроком до 30 дней, через 30 дней можно закрыть займ или продлить его до 30 дней уплатив только проценты!
					.tab-pane.fade(id="online-app-info-tab2")
						.col-md-4
							.services-desc__item
								img(src="images/passport.png", alt="")
								.services-desc__item-name Паспорт гражданина РФ
						.col-md-4
							.services-desc__item
								img(src="images/money.png", alt="")
								.services-desc__item-name Максимальная сумма займа до 50&nbsp;000&nbsp;&#8381;
						.col-md-4
							.services-desc__item
								img(src="images/calendar2.png", alt="")
								.services-desc__item-name Займ выдается сроком до 12 месяцев, с равным ежемесячным платежом!
					.tab-pane.fade(id="online-app-info-tab3")
						.col-md-4
							.services-desc__item
								img(src="images/passport.png", alt="")
								.services-desc__item-name Паспорт гражданина РФ
						.col-md-4
							.services-desc__item
								img(src="images/pts.png", alt="")
								.services-desc__item-name Паспорт транспортного средства
						.col-md-4
							.services-desc__item
								img(src="images/avto.png", alt="")
								.services-desc__item-name И наличие автомобиля в офисе оформления займа
						.col-md-4
							.services-desc__item
								img(src="images/money.png", alt="")
								.services-desc__item-name Максимальная сумма займа до 1&nbsp;000&nbsp;000&nbsp;&#8381;
						.col-md-4
							.services-desc__item
								img(src="images/calendar3.png", alt="")
								.services-desc__item-name Вы сами выбираете срок займа
	form.steps-app(action="")
		h3 Параметры кредита
		section
			ul.nav.nav-pills.nav-tabs-custom
				li.active: a(href="#online-app-tab1" data-target="#online-app-tab1, #online-app-info-tab1" data-toggle="pill") Без залога до 30 дней
				li: a(href="#online-app-tab2" data-target="#online-app-tab2, #online-app-info-tab2" data-toggle="pill") Без залога до 12 месяцев
				li: a(href="#online-app-tab3" data-target="#online-app-tab3, #online-app-info-tab3" data-toggle="pill") Под залог автомобилей
			// Tab Content
			.tab-content
				// Tab_content-1
				append calcVars
					-calcRate = 1
					-calcFactor = 1
					-calcTarget = 'micro'
					-calcNotPercent = 3
					-calcType = 'div'
					-calcButton = false

					-calcTerm = 'days'
					-calcTermMin = 1
					-calcTermMax = 30
					-calcTermStep = 1
					-calcTermValue = 20

				.tab-pane.fade.in.active(id="online-app-tab1")
					//- Calculator
					include ../calculator/template
					a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе

				// Tab_content-2
				append calcVars
					-calcRate = 180
					-calcFactor = 12
					-calcTarget = ''
					-calcNotPercent = ''

					-calcTerm = 'month'
					-calcAmountMin = 10000
					-calcAmountMax = 50000
					-calcAmountStep = 1000
					-calcAmountValue = 35000

					-calcTermMin = 1
					-calcTermMax = 12
					-calcTermStep = 1
					-calcTermValue = 7

					-calcTotalTitle = 'Ежемесячный платеж'

				.tab-pane.fade.in(id="online-app-tab2")
					//- Calculator
					include ../calculator/template
					a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе

				// Tab_content-3
				append calcVars
					-calcRate = 15
					-calcFactor = 1
					-calcTarget = 'micro'
					-calcNotPercent = ''

					-calcTerm = 'month'
					-calcAmountMin = 100000
					-calcAmountMax = 1000000
					-calcAmountStep = 10000
					-calcAmountValue = 440000

					-calcTermMin = 1
					-calcTermMax = 12
					-calcTermStep = 1
					-calcTermValue = 3

					-calcTotalTitle = 'Сумма к возврату'

				.tab-pane.fade.in(id="online-app-tab3")
					//- Calculator
					include ../calculator/template
					a.program-more-link(href="#{prorgramPage}"): span Узнать больше о программе

		h3 Личные данные
		section
			.steps-app__title Личные данные
			.form-group
				.row
					.col-md-4
						.group-req
							label(for="") Фамилия:
							input.input-sm.form-control(type="text" name="lastName" required minLength="3")
					.col-md-4
						.group-req
							label(for="") Имя:
							input.input-sm.form-control(type="text" name="userName" required minLength="3")
					.col-md-4
						.group-req
							label(for="") Отчество:
							input.input-sm.form-control(type="text" name="thirdName" required minLength="3")
			.form-group
				.inp-col-md.group-req
					label(for="") Мобильный:
					.input-group
						.ib.vam
							input.input-sm.form-control(type="text" name="mobNum" required data-rule-mobileFormat="true")
						.ib.vam Без указания &laquo;8&raquo; и &laquo;+7&raquo;. Например: (924) 166-75-87
			.form-group
				.row
					.col-md-5
						.input-group
							label(for="") Электронная почта:
							input.input-sm.form-control.email(type="text")
			.form-group
				.checkbox
					input(type="checkbox" id="terms" name="termsCheck" required)
					label(for="terms") Я согласен на обработку информации
		h3 Ваш паспорт
		section
			.steps-app__title Паспортные данные
			.form-group.group-req
				label(for="") Где и кем выдан:
				input.input-sm.form-control(type="text" name="passGetName" required)
			.form-group
				.row
					.col-md-8.justify
						.inp-col-md.group-req
							label(for="") Дата выдачи:
							input.input-sm.form-control.date(type="text" name="passGetDate" placeholder="__ __ ____" required readonly="true")
						.inp-col-md.group-req
							label(for="") Код подразделения:
							input.input-sm.form-control(type="text" name="passGetCode" required data-rule-passCode="true")
						.inp-col-md.group-req
							label(for="") Серия и номер паспорта:
							input.input-sm.form-control(type="text" name="passGetId" required data-rule-passId="true")
					.col-md-4.text-right
						.inp-col-md.text-left.group-req
							label(for="") Дата рождения:
							input.input-sm.form-control.date(type="text" name="passBday" placeholder="__ __ ____" required data-rule-dbirthDate="[15, 55]" readonly="true")
			.form-group
				.group-req
					label(for="") Место рождения:
					input.input-sm.form-control(type="text" name="passBplace" required)
		h3 Ваши адреса
		section
			.steps-app__title Ваши адреса
			.form-group.form-group_margin-sm
				.row
					.col-md-6
						.group-req
							label(for="") Населенный пункт:
							input.input-sm.form-control(type="text" name="addLocation" required)
							.help-block Правильно вводить: «Москва». Неправильно: «МСК», «г. Москва», «гор. Москва».
					.col-md-6
						.group-req
							label(for="") Улица:
							input.input-sm.form-control(type="text" name="addStreet" required)
			.form-group
				.row
					.col-md-8.justify
						.inp-col-md.group-req
							label(for="") Дом:
							input.input-sm.form-control(type="text" name="addHouse" required)
						.inp-col-md
							label(for="") Корпус:
							input.input-sm.form-control(type="text" name="addKorp")
						.inp-col-md
							label(for="") Квартира:
							input.input-sm.form-control(type="text" name="addHnumber")
					.col-md-4.text-right
						.inp-col-md.text-left
							label(for="") Домашний телефон:
							input.input-sm.form-control(type="text" name="addPhone")
			.row
				.col-md-4
					.steps-app__title Адрес постоянной регистрации
				.col-md-8
					.checkbox.checkbox_margin-off
						input(type="checkbox" id="eq-address" name="equalAdd" data-disable="addConst")
						label(for="eq-address") Совпадает с адресом фактического проживания
			.form-group.form-group_margin-sm
				.row
					.col-md-6
						.group-req
							label(for="") Населенный пункт:
							input.input-sm.form-control(type="text" name="addConstLocation" required)
							.help-block Правильно вводить: «Москва». Неправильно: «МСК», «г. Москва», «гор. Москва».
					.col-md-6
						.group-req
							label(for="") Улица:
							input.input-sm.form-control(type="text" name="addConstStreet" required)
			.form-group
				.row
					.col-md-8.justify
						.inp-col-md.group-req
							label(for="") Дом:
							input.input-sm.form-control(type="text" name="addConstHouse" required)
						.inp-col-md
							label(for="") Корпус:
							input.input-sm.form-control(type="text" name="addConstKorp")
						.inp-col-md
							label(for="") Квартира:
							input.input-sm.form-control(type="text" name="addConstHnumber")
		h3 Данные о&nbsp;работе
		section
			.steps-app__title Данные о работе
			.form-group
				.row
					.col-md-8
						.group-req
							label(for="") Название организации:
							input.input-sm.form-control(type="text" name="workName" required)
					.col-md-offset-1.col-md-3
						.group-req
							label(for="") Телефон организации:
							input.input-sm.form-control.phone(type="text" name="workPhone" required)
			.form-group
				.group-req
					label(for="") Должность:
					input.input-sm.form-control(type="text" name="workPos" required)
			.form-group
				.row
					.col-md-6
						.group-req
							label(for="") Стаж работы в организации в месяцах:
							input.input-sm.form-control.number(type="text" name="workTime" maxLength="3" required)
					.col-md-6
						.group-req
							label(for="") Ежемесячная заработная плата:
							input.input-sm.form-control.number(type="text" name="workSalary" required)
// END-Online application
