.reviews
	margin-bottom 50px
	&__item
		padding-left 70px
		padding-right 60px
		&:not(:last-child)
			margin-bottom 55px
		&-title
			margin-bottom 1em
			font-weight bold
		&-desc
			position relative
			&:before
			&:after
				content ''
				position absolute
			&:before
				top 3px
				left -70px
				sprite(ico-quotes-left)
			&:after
				bottom 3px
				right -60px
				sprite(ico-quotes-right)