// Reviews
.reviews
	.reviews__item
		.reviews__item-title Иванов Валерий Николаевич
		.reviews__item-desc Я пенсионер по состоянию здоровья, инвалид 2 группы. Наткнулся на рекламу компании "СберКасса" о принятии сбережений от населения под 26% годовых. Кое какие накопления у меня были, 75000 рублей, решил рискнуть и не прогадал. Вложил на 12 месяцев, с ежемесячным снятием процентов. Очень понравилось отношение сотрудников, все условия доступно объяснили, по ежемесячным выплатам процентов сориентировали. Уже 6-ой месяц получаю "бонус" к пенсии в размере 1700 руб. Вроде немного, зато всегда кстати. Рекомендую "СберКассу"!
	.reviews__item
		.reviews__item-title Кириллюк Натан Витальевич
		.reviews__item-desc Затеял ремонт на даче. После половины проделанной работы пришла пора осознать, что до конца сезона строительства денег мне не хватит. Помониторил по банкам, напрягли скрытые проценты по кредитам и непонятные страховки, а также сроки рассмотрения моей заявки. Краем глаза увидал по телевизору ролик "Сберкассы", который привлек мое внимание длительными сроками займов, а именно от 6 до 12 месяцев с ежемесячным платежом. Офис компании в Бородино находится недалеко от меня, решил уточнять интересующие детали уже на месте. Девушки менеджеры вежливые, внятно объяснили все условия займа. Оформил заявку, через 15 минут уже получал свои деньги. Взял 30000 на 12 месяцев, платить надо раз в месяц. Мне удобно, как раз к дачному сезону спокойно рассчитаюсь, так как ежемесячный платеж небольшой. Хоть и процент на такие "долгие" займы и побольше, чем в банках, но отсутствие скрытых комиссий и непонятных страховок сравнивает шансы. Сейчас спокойно заканчиваю строительство и благодарю "СберКассу" за помощь.
	.reviews__item
		.reviews__item-title Водопьянова Вера Павловна
		.reviews__item-desc Здравствуйте! Проживаю в г. Заозерном. Мне 62 года. Являюсь пенсионером по возрасту. Часто занимаю у компании "СберКасса", так как пенсия раз в месяц и то небольшая, а трат достаточно много, то детям и внукам на подарки, то на продукты до пенсии не хватает. Суммы беру небольшие, как раз чтобы хватало до пенсии. Процент самый низкий у нас в городе, поэтому только сюда и хожу. Спасибо сотрудникам организации за постоянную помощь, все всегда доступно расскажут и объяснят, очень терпеливые! Спасибо Вам!
	.reviews__item
		.reviews__item-title Парфенов Дмитрий Андреевич
		.reviews__item-desc Подрабатываю в такси в городе Бородино. Случилась неприятность - попал в мелкое ДТП, срочно был необходим ремонт, так как машина приносит мне постоянный доход. Ремонтироваться необходимо было срочно, не дожидаясь выплат по ОСАГО. Обратился в банк, ответ нужно было ждать два дня. Позвонил в компанию "СберКасса", условия понравились, заявку оформили через интернет. Получил свои деньги в течение 30 минут. Процент небольшой, рассчитался сразу после выплаты страховой.
	.reviews__item
		.reviews__item-title Сорокина Анна Владимировна
		.reviews__item-desc Не хватало немного денег, в банк идти было некогда. Воспользовалась услугами компании "СберКасса" и решила свои проблемы. Очень удобно и быстро. Закрылись досрочно, переплат никаких. При необходимости приду еще.
			
// END-Reviews