.news-bottom.angle-block
	.angle-block-wrap
		.angle-block-content.clearfix
			.col-md-offset-1.col-md-10
				.news-bottom__top
					span.news-bottom__title Новости компании
					a.text-arrow(href="#{newsPage}") Читать все
				.row
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
							span.news-bottom__date 9 октября
							span.news-bottom__name Открытие нового офиса в городе Дивногорск
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
							span.news-bottom__date 1 марта
							span.news-bottom__name Новые условия по займам с ежемесячным платежом!
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
								span.news-bottom__date 19 декабря
								span.news-bottom__name Три дня в подарок по займу
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
							span.news-bottom__date 21 августа
							span.news-bottom__name Займы до 1 000 000 рублей под залог автомобиля
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
							span.news-bottom__date 27 января
							span.news-bottom__name Страхование личных сбережений граждан
					.col-md-4
						a.news-bottom__item(href="#{newsDetailPage}")
							span.news-bottom__date 18 сентября
							span.news-bottom__name Открытие нового офиса в городе Железногорск