.steps-app
	margin-top -125px
	padding-bottom 30px
	&__title
		margin-top 50px
		margin-bottom 20px
		font-weight bold
		font-size $font-size-h3
		+ .checkbox
			margin-bottom 30px
	&-info
		background-color m-services-info-bottom-bg
		padding-top 40px
		padding-bottom 40px
		.services-desc__item
			margin-bottom 30px
		.services-desc__title
			margin-bottom 30px
	h3
		display none
	.steps
		position relative
		z-index 5
		> ul
			margin 0
			padding 0
			list-style none
			counter-reset step
			white-space nowrap
			text-align center
			overflow hidden
			> li
				display inline-block
				width 100%
				> a
					text-decoration none
					font-weight bold
					font-size $font-size-large
					color $text-color
					&:before
						content 'Шаг 'counter(step)': '
						counter-increment step
						color primary-color1
	.content
		position relative
		margin-top 70px
		margin-bottom 50px
		> .body
			position absolute
			top 0
			left 0
			width 100%
		.title
			display none
		label.error
			position absolute
			top 100%
			left 0
			right 0
			font-size $font-size-small - 2
			color help-block-c
			&:before
				display none
		.h2
			position relative
			width 420px
			margin 0 auto
			margin-top 140px
			padding-top 60px
			text-align center
			&:before
				content ''
				sprite(ico-last-done-green)
				position absolute
				top 0
				left 50%
				transform translateX(-50%)
	.actions
		padding-bottom 30px
		ul
			list-style none
			margin 0
			padding 0
			text-align center
			> li
				display block
			.disabled
				display none
			a[href="#previous"]
				display inline-block
				position relative
				padding-right 1.25em
				text-decoration none
				padding-right 0
				padding-left 1.25em
				margin-bottom 40px
				font-size $font-size-large
				&:before
					content '\2192'
					position absolute
					font-family monospace
					font-size 105%
					top 0
					right auto
					left 0.1em
					transform rotate(-180deg)
				&:after
					content ''
					position absolute
					top 100%
					left 1.25em
					right 0
					margin-top -2px
					border-bottom 1px solid
				&:hover:after
					border-bottom-color transparent

			a[href="#next"]
			a[href="#finish"]
				@extend $btn-std
				margin-bottom 0