.calculator
	margin-bottom 50px
	&__title
		margin-bottom 40px
		font-weight bold
		font-size $font-size-h3
	&__section
		margin-bottom 50px
	&__range
		&-col
			&-change
				background-color m-calculator-range-bg
				position relative
				height 30px
				border-radius 5px
				.ui-slider-range
					background-color m-calculator-range-active-bg
					position absolute
					top 0
					bottom 0
					left 0
					border-radius 5px
		&-switch
			//background url(../images/roller.png) no-repeat
			background-color m-calculator-range-switch
			position absolute
			bottom -25px
			width 80px
			height 80px
			border-radius 50%
			z-index 5
			transform translateX(-50%)
			&-block
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				
				
			
	&__result
		background url(../images/right-col-bg.jpg) repeat
		padding-top 55px
		padding-bottom 15px
		margin-top 50px
		margin-left -15px
		margin-right -15px
		color text-light
		&-val
			display inline-block
			vertical-align middle
			text-align left
			&-sub
				font-size $font-size-large
			&_green
				padding 4px 30px
				border 5px solid calc-result-green
				color calc-result-green
				.calculator__result-val-sub
					display inline-block
					vertical-align middle
					padding-right 15px
		&-rate
			display inline-block
			vertical-align middle
		&-sep
			display inline-block
			vertical-align middle
			margin-left 30px
			margin-right 20px
			&:before
				content '/'
				line-height normal
				font-size 63px
				color calc-sep-c
		&-rate
		&-get
		&-total
			font-weight 500
			font-size $font-size-h2
		&-col
			margin-bottom 35px
		&-detail
			position relative
			padding-top 25px
			margin-right -40px
			margin-bottom 50px
			&:before
				content ''
				background-color $text-color
				position absolute
				top 0
				left 0
				width 285px
				height 5px
		&-line
			margin-bottom 30px
			&_green
				font-weight bold
				color calc-result-green
			&_icon
				position relative
				padding-left 30px
				&:before
					content ''
					position absolute
					left 0
					top 0
				&.icon
					&-profit:before
						sprite(ico-profit)
					&-percent:before
						sprite(ico-percentage)
					&-hold:before
						sprite(ico-hold)
			&-col
				display table-cell
				width 50%
				&:last-child
					width 1%
					white-space nowrap
					min-width 115px
					.calculator__result-info
						span
							padding-left 17px
		.btn
			margin-top 45px