.main-footer
	padding-top 25px
	padding-bottom 30px
	&__nav-link
		font-weight bold
		font-size $font-size-h3 + 2
	.phone-contact
		margin 10px 0
	.full-ver
		font-weight bold
		font-size $font-size-base + 2