html, body
	height 100%
:focus
	outline none

body
	background-color bg-back
	min-width $container-lg + ($grid-gutter-width * 0.5)
	font-weight 300

.body-wrap
	//height 100%
	overflow auto
	> .container
		height 100%
		padding 0
		padding-top 15px


b
strong
	font-weight 500

img
	max-width 100%
	height auto

.ib
	display inline-block
	vertical-align top
.vam
	vertical-align middle
.vab
	vertical-align bottom
.justify
	text-align justify
	text-align-last justify
	text-justify newspaper
	font-size 0px
	zoom 1
	&:after
		content ''
		display: inline-block
		width 100%
		height 0
	> *:not([class*=j-align-off])
		display inline-block
		text-align left
		text-align-last left
		font-size $font-size-base
	
.media-full
	display table-cell
	width 1%


.title
	&-big
		font-size $font-size-h3
	&-main
		margin-top 0
		margin-bottom 2.5em
		font-weight bold
		font-size $font-size-large
		span
			display block
			margin 0
			text-transform lowercase
			font-size $font-size-h1
	&-min
		margin-bottom 0.5em
		font-weight bold
		font-size $font-size-base
.sub-title
	margin-top 20px

.text
	&-xs
		font-size $font-size-small
	&-sm
		font-size label-fz
	&-mid
		font-size $font-size-h5
	&-ellipsis
		width 100%
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
	&-arrow
		position relative
		padding-right 1.25em
		&:before
			content '\2192'
			position absolute
			top -0.2em
			right 0.3em
			font-family monospace
			font-size 105%
		&_left
			padding-right 0
			padding-left 1.25em
			&:before
				transform rotate(-180deg)
				top 0
				right auto
				left 0.3em
			&-compense
				margin-left -1.25em


.label
	margin-bottom 4px
	line-height 1.1
	font-weight 200
	font-size label-fz
	color label-color2

.main
	&-container
		position relative
		min-height 100%
		height auto
		padding-bottom 165px
		overflow-y auto
		padding-left $grid-gutter-width * 0.5
		padding-right $grid-gutter-width * 0.5
		&-wrap
			background-color $body-bg
			display table
			position relative
			min-height 600px
			border-radius 10px
			&:before
				content ''
				position absolute
				top 100%
				left 30px
				right 30px
				margin-top -100px
				height 100px
				box-shadow 0 15px 50px #8e97a7
				border-radius 500px / 10px
				z-index -1

		&__col
			&-left
				display table-cell
				float none
				vertical-align top
				max-width 935px
				width 935px
				padding-right $grid-gutter-width
				padding-left $grid-gutter-width
			&-right
				background url(../images/right-col-bg.jpg) repeat;
				display table-cell
				float none
				min-width 205px
				max-width 205px
				padding 0
				vertical-align top
				margin-right $grid-gutter-width * 0.5
				border-radius 0 10px 10px 0
				&-wrap
					height 100%
					padding-top 225px
					padding-bottom 40px
					padding-left $grid-gutter-width - 5px
					padding-right $grid-gutter-width * 0.5
					color right-col-c
					/.main-page &
						padding-top 180px
				&-section
					color right-col-c
					&:not(:last-child)
						margin-bottom 50px
					.btn
						margin-bottom 95px
						box-shadow inset 0 2px 3px rgba(255, 255, 255, 0.4), 0 20px 45px -10px rgba($gray-base, 0.4)
						&:active
							box-shadow inset 0 20px 20px -10px rgba(btn-active-inset-shadow, 0.7)
	&-content
		padding-top 30px
		padding-bottom 45px
		padding-left 10px
		padding-right 35px
		&__section
			padding-bottom 40px
			clearfix()
			&:last-of-type
				padding-bottom 0
		&__title
			margin-bottom 1em
			font-weight bold
			font-size $font-size-h2
	&-page
		.main-container__col-left
			position relative
			padding-bottom 500px

.second-page
	.main-content
		padding-top 55px


// Content


// Aside


// Right Column
.change-service
	display inline-block
	margin-bottom 50px
	text-decoration none
	font-weight 500
	font-size $font-size-large
	color right-col-c
	&:hover
		text-decoration none
	&_with-icon
		background-repeat no-repeat
		background-position bottom center
		padding-bottom 150px
	&_deposit
		background-image url(../images/pig-deposit.png)
	&_get-money
		background-image url(../images/get-money.png)
	span
		display block
		line-height 0.9
		border-bottom 1px solid
		font-size $font-size-h1




// Columns different actions
.col
	&-xs-padding-off
		padding 0
	@media (min-width: $screen-desktop)
		&-md-padding-off
			padding 0
	@media (min-width: $screen-tablet)
		&-sm-padding-off
			padding 0
	@media (min-width: $screen-desktop)
		&-md-padding-on
			padding-left ceil($grid-gutter-width / 2)
			padding-right floor($grid-gutter-width / 2)
	@media (min-width: $screen-tablet)
		&-sm-padding-on
			padding-left ceil($grid-gutter-width / 2)
			padding-right floor($grid-gutter-width / 2)
	&-alignment
		display table
		width 100%
		> [class^="col-"]
		> [class*="col-"]
			display table-cell
			vertical-align middle
			float none
	&-reverse
		&-left
			float left
		&-right
			float right
		&-xs
			&-left
				float left
			&-right
				float right
			+mq(mob, tablet)
				&-left
				&-right
					float none
				&-right
					margin-bottom 10px
		+mq(mob, desktop)
			&-left
			&-right
				float none
			&-right
				margin-bottom 35px


// Border for blocks
.brdr
	&-top
		border-top 1px solid border-color
	&-bottom
		border-bottom 1px solid border-color


// Separator vertical
.divider-vertical
	position relative
	&:before
		content ''
		background-color border-color
		position absolute
		top 0
		left 100%
		width 2px
		height 100%


.img-stable
	max-width 100%
	height auto


.link-full-block
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index 5
	
.phone-contact
	a
		padding-right 7px
		vertical-align middle
		text-decoration none
		font-weight bold
		font-size 32px
	span
		vertical-align middle
		font-style italic
		font-size 14px

// PROGRAM MORE
.program-more
	background-position center
	background-repeat no-repeat
	background-size auto 100%
	position relative
	max-width 505px
	height 125px
	border-radius 10px
	transition background-size durGlob*2.5
	backface-visibility hidden
	&:hover
		background-size auto 115%
	&-link
		background #f2d828
		background url(../images/program-more-link-bg.png) no-repeat
		display inline-block
		position relative
		width 262px
		height 42px
		white-space nowrap
		z-index 1
		&:hover
			color $text-color
			span
				text-decoration none
		span
			display inline-block
			text-decoration underline
			padding-top 3px
			padding-left 20px
	a
		position absolute
		left 15px
		bottom 0

// ANGLE BLOCK
.angle-block
	position relative
	padding-top 30px
	margin-bottom 40px
	&:before
	&:after
		content ''
		position absolute
		top 0
	&:before
		left 0
		right 0
		border-bottom 30px solid angle-block-bg
		border-right 30px solid transparent
	&:after
		right 0
		border-top 30px solid transparent
		border-left 30px solid darken(angle-block-bg, 13) //#d3d3d3

	&_left-wrapping
		margin-left -40px
		.angle-block-wrap
			padding-bottom 15px
			&:before
			&:after
				content ''
				position absolute
				top -7px
				left -6px
				width 7px
				border-radius 5px 0 0 5px
				z-index -1
			&:before
				background-color angle-block-bg
				bottom 0
				border-bottom-left-radius 7px 9px
			&:after
				background linear-gradient(to bottom, angle-block-bg, darken(angle-block-bg, 20)) //#084725
				left -5px
				bottom 100%
	&_yellow
		&:before
			border-bottom-color angle-block-second-bg
		&:after
			border-left-color darken(angle-block-second-bg, 33) //#ebc100
		.angle-block-wrap
			background-color angle-block-second-bg
		&.angle-block_left-wrapping
			.angle-block-wrap
				&:before
					background-color angle-block-second-bg
				&:after
					background linear-gradient(to bottom, angle-block-second-bg, darken(angle-block-second-bg, 40)) //#c7a400

	&-content
		position relative
		top -4px
		padding-left 40px
		padding-right 40px
	&-wrap
		background-color angle-block-bg
	
	ul
		margin-right 30px


// Sticky menu .right-fix

