$btn-square
	display inline-block
	position relative
	//width btn-min-size
	//height btn-min-size
	//font-size btn-square-fz
	transition all durGlob
$btn-std
	background-image linear-gradient(to bottom, btn-bg1 ,btn-bg2)
	display inline-block
	position relative
	padding 15px 35px
	margin-bottom 40px
	border-radius 5px
	box-shadow inset 0 2px 3px rgba(255, 255, 255, 0.4), 0 20px 35px -10px rgba(btn-shadow, 0.3)
	text-shadow 0 2px 2px btn-text-shadow
	line-height 1
	text-align center
	text-decoration none
	font-weight 500
	font-size $font-size-h2
	color text-light
	z-index 1
	overflow hidden
	&:before
		content ''
		background-image radial-gradient(ellipse at center, rgba(btn-overlay, 0.7), transparent)
		position absolute
		top 0
		bottom -100%
		left 0
		right 0
		z-index -1
	&:hover
		text-decoration none
		color text-light
		&:before
			background-image radial-gradient(ellipse at center, rgba(btn-active-overlay, 0.7), transparent)
	&:active
		box-shadow inset 0 20px 20px -10px rgba(btn-active-inset-shadow, 0.7)
		&:before
			opacity 0
	&.disabled
		opacity 0.6
		filter grayscale(0.6)

button
	background none
	padding 0
	border none
	cursor pointer

.btn
	@extend $btn-std

	&-sm
		padding 15px 10px
	&-primary
		margin-bottom 3px
		padding 10px 45px
		border-bottom 1px solid rgba(text-light, 0.4)
		border-radius 10px
		box-shadow 0 3px 0px btn-shadow
		&:before
			display none
		&:active
			box-shadow inset 0 20px 20px -10px rgba(btn-active-inset-shadow, 0.7), 0 1px 0px btn-shadow
		&.btn-sm
			padding 10px 30px

