.contacts-info
	position relative
	&-render
		.form-group
			label
				margin-top 10px
				margin-bottom 0
				font-weight bold
	.nav
		margin-top 35px
		margin-left -40px
		> li
			> a
				width 100%
				z-index 5
#map-contacts
	margin-left -30px
	margin-right -65px
	height 590px
	
.balloon-content
	position relative
	padding 15px 0 15px 10px
	clearfix()
	img
		max-width 160px
		height auto
		float left
	&__desc
		padding-left 185px
		font-weight 300
		font-family $font-family-sans-serif
		font-size $font-size-base - 2
		&-head
			position relative
			padding-bottom 25px
			&:before
				content ''
				background-color rgba($text-color, 0.7)
				position absolute
				bottom 10px
				left 0
				width 20px
				height 3px