.datepicker
	margin 0
	padding 10px 15px
	padding-top 0
	border none
	border-radius 5px
	overflow:visible
	.datepicker-switch
		font-weight 500
		height 35px
	.dow
		font-weight 500
		padding 5px
		padding-top 10px
	table
		thead
			&:before
				content ''
				background-image linear-gradient(to bottom, btn-bg1, btn-bg2)
				position absolute
				left 0
				width 100%
				height 35px
				border-radius 5px 5px 0 0
			tr:nth-child(2)
				th
					position relative
					padding 0 10px
					color text-light
					border-radius 0
		tr
			td
				padding 0 5px
			td.active.active
			td span.active.active
				background darken(btn-bg2, 5)
				&:hover
				&:hover.active:hover
					background btn-bg2
					
	.prev
	.next
		@extend .glyphicon
		display table-cell
		position relative
		font-size 0
		&:before
			font-size $font-size-base
	.prev
		@extend .glyphicon-menu-left
	.next
		@extend .glyphicon-menu-right
		
	.datepicker-switch:hover
	.next:hover
	.prev:hover
	tfoot tr th:hover
		background rgba(text-light, 0.2)