.dropdown
	&-call
		.dropdown-menu
			width 290px
			margin 0
			padding 20px
			padding-bottom 25px
		.close
			position absolute
			top 15px
			right 20px
			sprite(ico-close)
			z-index 3
			&:hover
				sprite(ico-close-hover)
		.form-group
			&:not(:last-child)
				margin-bottom 20px
		label
			margin-bottom 15px
		.btn
			width 100%
			margin-top 10px
			padding 10px
			font-size $font-size-h3
		&.open
			> .dropdown-menu
				top -30px