textarea
	max-width 100%
	resize none
.form
	&-group
		position relative
		margin-bottom 0
		&:not(:last-child)
			margin-bottom 40px
		&_margin-sm
			margin-bottom 20px !important
		label
			margin-bottom 10px
			font-weight 300
			font-size $font-size-base
	&-control
	&-control[readonly]
		background-color input-bg
		border 1px solid input-br
		box-shadow inset 0 2px 4px input-shadow
		border-radius 5px
		min-height 50px
		transition background-color durGlob, border-color durGlob, box-shadow durGlob
		/textarea&
			padding 12px
			min-height 215px
		&.error
			background-color rgba($brand-danger, 0.05)
			border-color rgba($brand-danger, 0.5)
			box-shadow inset 0 2px 4px rgba($brand-danger, 0.3)
.help-block
	font-size $font-size-small - 2
	color help-block-c

.input-sm
.input-sm[readonly]
	min-height 40px
	border-radius 10px

.inp-col-md
	display inline-block
	.form-control
		max-width 150px
		margin-right 15px
		
.checkbox
.checkbox-inline
	&_margin-off
		margin 0
	input[type="checkbox"]
		position absolute
		visibility hidden
		opacity 0
		&.error + label:before
			background-color rgba($brand-danger, 0.05)
			border-color rgba($brand-danger, 0.5)
			box-shadow inset 0 2px 4px rgba($brand-danger, 0.3)
		&:checked + label
			@extend .glyphicon-ok
			&:before
				@extend .glyphicon
				position absolute
				top 0
				text-align center
				line-height 18px
				font-size 12px
				color $link-hover-color
		+ label
			position relative
			padding-left 30px
			font-weight 300
			&:before
				content ''
				background-color input-bg
				position absolute
				top 0
				left 0
				width 20px
				height 20px
				border 1px solid input-br
				border-radius 4px
				box-shadow inset 0 2px 4px input-shadow
				transition background-color durGlob, border-color durGlob, box-shadow durGlob

.group-req
	position relative
	label
		position relative
		&:before
			content '*'
			position absolute
			left -10px
			top 0
			color $brand-danger
.input-group
	position relative

.has-success
	form-control-validation($state-success-text, $state-success-text, $state-success-bg)
.has-warning
	form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg)
.has-error
	form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg)