$inputTemplate
	position relative
	width 100%
	padding 6px 20px
	vertical-align middle
	line-height normal
	text-transform uppercase
	//font-size 
	color $text-color
	transition background durGlob, color durGlob
	

select
	display none
.bootstrap-select
	position relative
	.dropdown
		&-toggle
			background input-bg
			width 100%
			padding 5px 8px
			padding-right 45px
			margin 0
			border 1px solid input-br
			box-shadow inset 0 2px 4px input-shadow
			border-radius 5px
			min-height 40px
			transition background-color durGlob, border-color durGlob, box-shadow durGlob
			font-weight 300
			font-size $font-size-base
			&:before
				display none
			&:active
				box-shadow inset 0 2px 4px input-shadow
			.filter-option
				background btn-bg2
				padding 6px 9px
				border-radius 5px
			.caret
				position absolute
				right 20px
				top 50%
				color rgba($text-color, 0.5)
		&-menu
			width 100%
			border none
			box-shadow none
			border-radius 0
	> .dropdown-menu
		box-shadow 0 1px 5px rgba($gray-base, 0.35)
		border-radius 5px
		ul
			position static
			padding 0
			margin-top 0
			li
				a
					padding 7px 17px
					text-decoration none
					cursor pointer
					&:hover
					&:focus
						background-color $link-hover-color
						color text-light
				.text
					padding-right 10px
				.check-mark
					display none
			.selected
				.check-mark
					display inline-block
