.link
	&-dotted
		display inline-block
		text-decoration none
		border-bottom 1px dotted
		line-height 0.9
		&:hover
			text-decoration none
	&-big
		display inline-block
		margin-bottom 0.3em
		line-height 0.9
		border-bottom 1px solid
		text-decoration none
		font-weight bold
		font-size $font-size-h3 - 1
		&:hover
			text-decoration none
	&-back
		display inline-block
		text-decoration none
		font-weight 500
		font-size $font-size-large
		&:hover
			> span
				border-bottom-color transparent
		> span
			display inline-block
			line-height 1
			border-bottom 1px solid
			