ul
	margin-left 0
	padding-left 20px

// Custom lists
.list
	&-check
		padding-left 0
		margin-bottom 40px
		list-style none
		li
			position relative
			margin-bottom 20px
			padding-left 40px
			font-weight bold
			@extend .glyphicon-ok
			&:before
				@extend .glyphicon
				position absolute
				top 0.1em
				left 0.2em
				font-size 110%
	&-legend
		position relative
		margin-top 30px
		margin-bottom 60px
		padding-top 30px
		padding-left 0
		list-style none
		font-size ceil($font-size-small * 0.85)
		&:before
			content ''
			background-color angle-block-bg
			position absolute
			top 0
			left 0
			width 100px
			height 3px
		&:first-of-type
			counter-reset list
		li
			position relative
			padding-left 10px
			margin-bottom 15px
			&:before
				counter-increment list
				content counter(list,decimal)
				position absolute
				top -0.6em
				left 0