.loan-payment
	&-type
		background-color $loan-payment-bg
		display table
		padding 15px
		border-radius 15px
		font-size 0
		&__item
			display table-cell
			width 33.33%
			padding 20px 25px
			border-radius 15px
			text-align center
			vertical-align top
			transition all durGlob
			color text-light
			&:hover
				background-color bg-light
				color $loan-payment-type-title-c
				.loan-payment-type__item
					&-img
						&:before
							opacity 0
			&_dev
				position relative
				&:before
					content '(в разработке)'
					position absolute
					left 0
					right 0
					bottom 8px
					font-size 11px
					color $loan-payment-dev-c
			&-img
				position relative
				height 90px
				line-height 90px
				&:before
					content ''
					background url(../images/payment-img-shadow.png) center
					position absolute
					top -50%
					left 0
					right 0
					height 114px
					transition opacity durGlob
				> img
					position relative
					vertical-align middle
					z-index 1
			&-title
				margin-bottom 10px
				line-height normal
				font-weight 500
				font-size 20px
			> span
				display block
	&-nav
		list-style none
		margin 0
		margin-top 30px
		padding 0
		&__back
			position relative
			display inline-block
			margin-top 15px
			padding-right 1.25em
			text-decoration none
			padding-right 0
			padding-left 1.25em
			margin-left -1.25em
			margin-right 70px
			font-size 20px
			&:before
				content '\2192'
				position absolute
				font-family monospace
				font-size 105%
				top 0
				right auto
				left 0.3em
				transform rotate(-180deg)
			&:after
				content ''
				position absolute
				top 100%
				left 1.25em
				right 0
				margin-top -2px
				border-bottom 1px solid
			&:hover:after
				border-bottom-color transparent
		> li
			display inline-block
			vertical-align top
	&__link
		&.disabled
			user-select none
			pointer-events none

	.swiper-container
		overflow visible
		opacity 1
		transition opacity durGlob
		&.not-init
			opacity 0
		form
			padding 0 15px
		.angle-block
			&_left-wrapping
				margin-left -57px
			&-content
				padding-left 57px
			.h4
				line-height normal
				margin-top 0
				margin-bottom 10px
				font-weight 500

.angle-block
	&_orange
		color text-light
		&:before
			border-bottom-color angle-block-third-bg
		&:after
			border-left-color darken(angle-block-third-bg, 15)
		.angle-block-wrap
			background-color angle-block-third-bg
		&.angle-block_left-wrapping
			.angle-block-wrap
				&:before
					background-color angle-block-third-bg
				&:after
					background linear-gradient(to bottom, angle-block-third-bg, darken(angle-block-third-bg, 40))

.group-req
	label.error
		position absolute
		top 100%
		left 0
		right 0
		font-size 12px
		color help-block-c
		&:before
			display none

.nav-main
	> li
		vertical-align middle
		&.active
			> a
				position relative
				text-decoration none
				font-weight 500
				color text-light
				z-index 1
				&:before
					content ''
					background-image linear-gradient(to bottom, $nav-active-bg1 0%, $nav-active-bg2 46%, $nav-active-bg3 78%, $nav-active-bg4 100%)
					position absolute
					top -40px
					left -7px
					right -7px
					bottom -10px
					box-shadow 0 20px 35px -10px rgba(btn-shadow, 0.3)
					border-bottom-left-radius 10px
					border-bottom-right-radius 10px
					z-index -1
		> a
			vertical-align middle
			text-align-last center
			text-align center
