.loan-payment
	margin-bottom 60px
	&-type
		margin 0 20%
		&__item
			display block
			padding-bottom 30px
			margin-bottom 20px
			text-align center
			text-decoration none
			&-img
				display block
				position relative
				height 90px
				line-height 90px
				&:before
					content ''
					background url(../images/m-payment-img-shadow.png) center
					position absolute
					top -50%
					left 0
					right 0
					height 106px
					margin-top 15px
				> img
					position relative
					vertical-align middle
					z-index 1
			&-title
				display block
				line-height normal
				font-weight bold
				font-size $font-size-h3
			&_dev
				position relative
				&:before
					content '(в разработке)'
					position absolute
					bottom 5px
					left 0
					right 0
					text-align center
					color $loan-payment-dev-c
	&-nav
		margin 0 15%
		padding 0
		list-style none
		text-align center
		&__back
			position relative
			padding-right 0
			padding-left 1.25em
			white-space nowrap
			font-weight bold
			font-size $font-size-h4
			&:before
				content '\2192'
				position absolute
				font-family monospace
				font-size 105%
				top 0
				right auto
				left 0.3em
				transform rotate(-180deg)
		> li
			> a
				display block
				text-decoration none
	&__link
		&.disabled
			user-select none
			pointer-events none

	.angle-block
		&-content
			padding-left 47px
		&_left-wrapping
			margin-left -47px
		.h4
			margin-top 0

.company-requisites
	margin-bottom 40px
	font-size $font-size-base + 2
	&__line
		margin-bottom 20px

.group-req
	label.error
		position absolute
		top 100%
		left 0
		right 0
		font-size 12px
		color help-block-c
		&:before
			display none

.angle-block
	&_orange
		color text-light
		&:before
			border-bottom-color angle-block-third-bg
		&:after
			border-left-color darken(angle-block-third-bg, 15)
		.angle-block-wrap
			background-color angle-block-third-bg
		&.angle-block_left-wrapping
			.angle-block-wrap
				&:before
					background-color angle-block-third-bg
				&:after
					background linear-gradient(to bottom, angle-block-third-bg, darken(angle-block-third-bg, 40))
