.news
	&-bottom
		position absolute
		left 0
		right 0
		bottom 0
		height 425px
		margin-bottom 0
		overflow hidden
		border-bottom-left-radius 10px
		font-size 0
		&__top
			margin-bottom 30px
			font-size $font-size-base
		&__title
			margin-right 15px
			vertical-align baseline
			font-weight bold
			font-size $font-size-h2
		&__item
			display block
			margin-bottom 35px
			margin-left -5px
			&:hover
				text-decoration none
				.news-bottom__date
				.news-bottom__name
					background-color $brand-primary
					color text-light
		&__name
			display block
			padding 4px 7px
		&__date
			display inline-block
			padding 4px 7px
			color gray-light
		.row
			[class*="col-"]
			[class^="col-"]
				display inline-block
				float none
				vertical-align top
				font-size $font-size-base

		.angle-block-wrap
			padding-top 30px
			height 100%
		.angle-block-content
			padding 0
	
	&-min
		&__title
			display inline-block
			margin-bottom 0.7em
			text-decoration none
			line-height 0.95
			border-bottom 1px solid
			font-weight 500
			font-size $font-size-large
			color right-col-c
			&:hover
				text-decoration none
		.news-bottom
			&__item
				margin-bottom 15px
				&:hover
					span
						text-decoration none
			&__date
			&__name
				color right-col-c
			&__name
				text-decoration underline
				
			