.pagination
	margin 0
	padding 0
	padding-top 10px
	padding-bottom 20px
	list-style none
	&-compense
		margin-left -17px
	li
		display inline-block
		position relative
		a
			padding 2px 7px
			border 2px solid transparent
			border-radius 2px
		
		&.active
			&:hover
				a
					color $gray-base
			a
				text-decoration none
				border-color $gray-base
		.all-pages
			position absolute
			top 100%
			left 50%
			margin-top 5px
			white-space nowrap
			font-size 11px
			transform translateX(-50%)

	.pages
		display inline-block
		padding 0
		margin-left 12px
		margin-right 12px
	
	.previous
	.next
		a
			position relative
			&:before
				position absolute
				top 50%
				text-shadow 1px 0px 0px
				transform translateY(-50%)
				@extend .glyphicon
				font-size 43%
			&:hover
				text-decoration none
	.previous a
		padding-left 25px
		@extend .glyphicon-menu-left
		&:before
			left 0
	.next a
		padding-right 25px
		@extend .glyphicon-menu-right
		&:before
			right 0
