.pswp__bg
	background-color rgba($gray-base, 0.75)
	
.pswp__button--arrow--left
.pswp__button--arrow--right
	margin 0
	width auto
	height auto
	transform translateY(-50%)
	&:before
		content '\2192'
		background none
		position relative
		top auto
		right auto
		width auto
		height auto
		font-family monospace
		font-size $font-size-h2 * 3.2
		color text-light

.pswp__button--arrow--left
	margin-top -123px
	left 150px
	transform rotate(-180deg) translateY(-50%)
	
.pswp__button--arrow--right
	right 150px