.services
	&-desc
		&:not(:last-child)
			margin-bottom 45px
		&__title
			margin-bottom 1.6em
			font-weight 500
		&__item
			position relative
			clearfix()
			&:not(:last-child)
				margin-bottom 40px
			&-name
				padding-left 70px
				font-style italic
			img
				float left
	&-main-col
		margin-left -35px
	.nav-services
		margin-left -40px
		padding-right 40px
		margin-bottom 30px
	.services-info
		padding-right 40px
	.program-more
		margin-bottom 60px

.nav-services
	> li
		position relative
		margin-bottom 5px
		white-space nowrap
		> a
			display inline-block
			position relative
			max-height 52px
			padding 15px
			padding-left 40px
			padding-right 10px
			margin-right 25px
		&.active
			&:before
			&:after
				content ''
				position absolute
				top -7px
				left -6px
				width 7px
				border-radius 5px 0 0 5px
				z-index -1
			&:before
				background-color $nav-pills-active-link-hover-bg
				bottom 0
				border-bottom-left-radius 7px 9px
			&:after
				background linear-gradient(to bottom, $nav-pills-active-link-hover-bg, darken($nav-pills-active-link-hover-bg, 20)) //#084725
				left -5px
				bottom 100%
			> a
				box-shadow 0 5px 2px -5px $gray-base
				&:before
					content ''
					position absolute
					top 0
					bottom 0
					left 100%
					border-left 25px solid $nav-pills-active-link-hover-bg
					border-top 26px solid transparent
					border-bottom 26px solid transparent
				