.slider
	&-docs
		padding-left 15px
		padding-right 65px
		padding-bottom 90px
		&__item
			&-image
				background url(../images/border-doc.png) no-repeat
				background-size 100%
				display inline-block
				width 265px
				height 360px
				padding 15px
				margin-bottom 35px
				box-shadow 0 20px 25px rgba($gray-base, 0.25)
				img
					position relative
					width 100%
					height auto
					z-index -1
			&-desc
				margin-left 20px
		&-arrow
			position absolute
			left 25px
			bottom 20px
			&__prev
			&__next
			&__sep
				display inline-block
				vertical-align middle
			&__prev
			&__next
				font-size 27px
				font-family 'Times New Roman'
				cursor pointer
				color $text-color
				&:hover
					color $link-hover-color
				&.swiper-button-disabled
					opacity 0.5
					&:hover
						color $text-color
			&__sep
				margin 0 5px
				padding-top 5px
				font-size 24px
				&:before
					content '/'
					font-weight bold
					color #eaeaea
			&__prev
				&:before
					content '\2190'
			&__next
				&:before
					content '\2192'
					
